@model ContactVm
@inject LanguageService _resource

@section Scripts{
    @if (TempData["ContactMailSendSuccess"] != null && (bool)TempData["ContactMailSendSuccess"] == true)
    {
        <script>
            Swal.fire({
                icon: "success",
                title: "@_resource.GetLocalizedHTML("Thank you! Your submission has been received!")",
                showConfirmButton: false,
                timer: 3000
            });
        </script>
    }
    @if (TempData["ContactMailSendError"] != null && (bool)TempData["ContactMailSendError"] == true)
    {
        <script>
            Swal.fire({
                icon: "error",
                title: "@_resource.GetLocalizedHTML("Oops! Something went wrong while submitting the form.")",
                showConfirmButton: false,
                timer: 3000
            });
        </script>
    }
}

<script>

    function scrollToContact() {
        const elementContact = document.getElementById('contactus').offsetTop;

        window.scrollTo({
            top: elementContact,
            behavior: 'smooth'
        });
    }

    function scrollToFaq() {
        const elementFaq = document.getElementById('faqsection').offsetTop;

        window.scrollTo({
            top: elementFaq,
            behavior: 'smooth'
        });
    }
</script>

<main class="main-wrapper">
    <section class="section-hero">
        <div class="padding-global">
            <div class="container-large">
                <div class="padding-section-large">
                    <div class="hero-component">
                        <h1 data-w-id="a9ae2ce4-acd5-b5c6-7cd1-7d29e52438cd">@_resource.GetLocalizedHTML("Contact Us")</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="shape"></div>
        <div class="shape is-right"></div>
        <div class="shape is-center"></div>
    </section>

    @await Component.InvokeAsync("ApplySteps")

    <section class="section-contact" id="contactus">
        <div class="padding-global">
            <div class="container-large">
                <div class="padding-section-large">
                    <div class="w-layout-grid contact-component">
                        <div data-w-id="f198a4eb-b131-c678-7447-03825147d745" style="-webkit-transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="contact-content">
                            <h2 class="heading-style-h3">@_resource.GetLocalizedHTML("Contact Us")</h2>
                            <div class="padding-bottom padding-small"></div>
                            <p class="text-size-medium">@_resource.GetLocalizedHTML("We would love to hear from you.")</p>
                            <div class="padding-bottom padding-medium"></div>
                            <div class="contact-features-list">
                                <div id="w-node-f198a4eb-b131-c678-7447-03825147d750-0cfe0d80" class="contact-features">
                                    <a href="contact@codinax.com" class="contact-icon-wrapper w-inline-block">
                                        <img src="https://assets.website-files.com/63edcc04ea8777a0bc4eed69/63f88d2559c178ae739ba22d_Frame.webp" loading="lazy" width="24" alt="Icon" />
                                    </a>
                                    <div>
                                        <a href="contact@codinax.com" class="text-color-black">contact@codinax.com</a>
                                    </div>
                                </div>
                                <div id="w-node-f198a4eb-b131-c678-7447-03825147d755-0cfe0d80" class="contact-features">
                                    <a href="tel:+48797331113" class="contact-icon-wrapper w-inline-block">
                                        <img src="https://assets.website-files.com/63edcc04ea8777a0bc4eed69/63f88d258fa23e6e41cca102_Frame-1.webp" loading="lazy" width="24" alt="Icon" />
                                    </a>
                                    <div>
                                        <a href="tel:+48797331113" class="text-color-black">+48797331113</a>
                                    </div>
                                </div>
                                <div id="w-node-f198a4eb-b131-c678-7447-03825147d75a-0cfe0d80" class="contact-features">
                                    <div class="contact-icon-wrapper">
                                        <img src="https://assets.website-files.com/63edcc04ea8777a0bc4eed69/63f88d266588e87c6c00f197_Frame-2.webp" loading="lazy" width="24" alt="Icon" />
                                    </div>
                                    <div>Kuflewska 4, Warsaw</div>
                                </div>
                            </div>
                            <div class="padding-bottom padding-medium"></div>
                            <div class="mobile-left" bis_skin_checked="1">
                                <a onclick="scrollToFaq()" class="link-red" style="cursor: pointer;">
                                    @_resource.GetLocalizedHTML("See Already Given Questions")
                                </a>
                            </div>
                        </div>
                        <div class="contact-form-block w-form">
                            <form method="post" class="contact-form" action="/Contact/Send">
                                <div class="form-field-content">
                                    <div class="form-field-wrapper">
                                        <label class="field-label" for="firstname">@_resource.GetLocalizedHTML("First Name")</label>
                                        <input class="contact-form-input w-input" id="firstname" type="text" asp-for="Firstname" />
                                        <span class="text-secondary" asp-validation-for="Firstname"></span>
                                    </div>
                                    <div class="form-field-wrapper">
                                        <label class="field-label" for="lastname">@_resource.GetLocalizedHTML("Last Name")</label>
                                        <input class="contact-form-input w-input" id="lastname" type="text" asp-for="Lastname" />
                                        <span class="text-secondary" asp-validation-for="Lastname"></span>
                                    </div>
                                </div>
                                <div class="form-field-content">
                                    <div class="form-field-wrapper">
                                        <label class="field-label" for="email">@_resource.GetLocalizedHTML("Email")</label>
                                        <input class="contact-form-input w-input" id="email" type="email" asp-for="Email" />
                                        <span class="text-secondary" asp-validation-for="Email"></span>
                                    </div>
                                    <div class="form-field-wrapper">
                                        <label class="field-label" for="phonenumber">@_resource.GetLocalizedHTML("Phone number")</label>
                                        <input class="contact-form-input w-input" id="phonenumber" type="tel" asp-for="PhoneNumber" />
                                        <span class="text-secondary" asp-validation-for="PhoneNumber"></span>
                                    </div>
                                </div>
                                <div class="form-field-wrapper">
                                    <label class="field-label" for="message">@_resource.GetLocalizedHTML("Message")</label>
                                    <textarea class="contact-form-input is-text-area w-input" id="message" asp-for="Message"></textarea>
                                    <span class="text-secondary" asp-validation-for="Message"></span>
                                </div>

                                <button type="submit" class="button w-button">@_resource.GetLocalizedHTML("Submit")</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="section-faq" id="faqsection">
        <div class="padding-global">
            <div class="container-small">
                <div class="padding-section-large">
                    <div class="text-align-center">
                        <div data-w-id="d48ee730-c8a5-4405-d9ed-29b2beba958d" class="max-width-large align-center">
                            <div class="padding-bottom padding-xsmall"></div>
                            <h2>@_resource.GetLocalizedHTML("Frequently Asked Questions")</h2>
                            <div class="padding-bottom padding-small"></div>
                            <p>
                                @_resource.GetLocalizedHTML("Find answers to common queries about our courses and programs")
                            </p>
                        </div>
                    </div>
                    <div class="padding-bottom padding-xxlarge"></div>
                    <div data-w-id="d48ee730-c8a5-4405-d9ed-29b2beba959a" class="faq-component">
                        <div class="w-layout-grid faq-list">
                            @if (Model.Faqs != null && Model.Faqs.Count() > 0)
                            {
                                @foreach (var faq in Model.Faqs)
                                {
                                    <div class="faq-accordion">
                                        <div class="faq-question">
                                            <div class="faq-text-wrapper">
                                                <div class="faq-icon-wrapper">
                                                    <div class="faq-icon is-left"></div>
                                                    <div class="faq-icon"></div>
                                                </div>
                                                @if (ViewData["Culture"].ToString() == "ru-RU" && !string.IsNullOrEmpty(faq.QuestionRu))
                                                {
                                                    <div class="text-weight-bold text-size-medium">@faq.QuestionRu</div>
                                                }
                                                else if (ViewData["Culture"].ToString() == "tr-TR" && !string.IsNullOrEmpty(faq.QuestionTr))
                                                {
                                                    <div class="text-weight-bold text-size-medium">@faq.QuestionTr</div>
                                                }
                                                else
                                                {
                                                    <div class="text-weight-bold text-size-medium">@faq.Question</div>
                                                }
                                            </div>
                                            <div class="faq-shape"></div>
                                        </div>
                                        <div class="faq-answer">
                                            @if (ViewData["Culture"].ToString() == "ru-RU" && !string.IsNullOrEmpty(faq.AnswerRu))
                                            {
                                                <p>@faq.AnswerRu</p>
                                            }
                                            else if (ViewData["Culture"].ToString() == "tr-TR" && !string.IsNullOrEmpty(faq.AnswerTr))
                                            {
                                                <p>@faq.AnswerTr</p>
                                            }
                                            else
                                            {
                                                <p>@faq.Answer</p>
                                            }
                                            <div class="padding-bottom padding-small"></div>
                                        </div>
                                    </div>
                                }
                            }

                        </div>
                    </div>
                    <div class="padding-bottom padding-xxlarge"></div>
                    <div data-w-id="d48ee730-c8a5-4405-d9ed-29b2beba95dd" class="faq-bottom-wrapper">
                        <div class="text-align-center">
                            <div class="max-width-medium align-center">
                                <h3 class="heading-style-h6">@_resource.GetLocalizedHTML("Still have questions?")</h3>
                                <div class="padding-bottom padding-xsmall"></div>
                                <div class="padding-bottom padding-small"></div>
                            </div>
                            <div class="button-group is-center">
                                <a onclick="scrollToContact()" class="button w-button">@_resource.GetLocalizedHTML("Contact Us")</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    @await Component.InvokeAsync("Subscribe")

</main>