@model CoursesVm

<main class="main-wrapper">
    <section class="section-header">
        <div class="padding-global">
            <div class="container-large">
                <div class="padding-section-large">
                    <div class="header-component">
                        <div id="w-node-_3b593274-3a8c-6de0-f962-8be280cb72da-d80fb331" data-w-id="3b593274-3a8c-6de0-f962-8be280cb72da" style="-webkit-transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="header-content-wrapper">
                            @* <div class="sub-heading">About</div> *@
                            <div class="padding-bottom padding-small"></div>
                            <h1>Online Coding Bootcamp</h1>
                            <div class="padding-bottom padding-small"></div>
                            <p>
                                Dive into interactive online classes designed to equip you with essential skills for a successful career in IT​
                            </p>
                            <div class="padding-bottom padding-medium"></div>
                            <div class="button-group">
                                <a href="/auth/student/apply" class="button w-button">Apply</a>
                            </div>
                        </div>
                        <div class="header-image-wrapper">
                            <img class="header-image" src="https://assets.website-files.com/63edcc04ea8777a0bc4eed69/63ff1711b965c62ca168464e_About%20Image%20(4).webp" width="548" alt="a man smiling and pointing" style="-webkit-transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" sizes="(max-width: 479px) 100vw, (max-width: 991px) 90vw, 40vw" data-w-id="3b593274-3a8c-6de0-f962-8be280cb72ee" loading="lazy" srcset="https://assets.website-files.com/63edcc04ea8777a0bc4eed69/63ff1711b965c62ca168464e_About%20Image%20(4)-p-500.webp 500w, https://assets.website-files.com/63edcc04ea8777a0bc4eed69/63ff1711b965c62ca168464e_About%20Image%20(4)-p-800.webp 800w, https://assets.website-files.com/63edcc04ea8777a0bc4eed69/63ff1711b965c62ca168464e_About%20Image%20(4).webp 1096w" />
                            <img src="https://assets.website-files.com/63edcc04ea8777a0bc4eed69/63f83188d2d79444d6da4c4a_Vector.webp" loading="lazy" width="29" style="opacity:0" alt="logo" data-w-id="3b593274-3a8c-6de0-f962-8be280cb72f0" class="illustration is-top-left" />
                            <img src="https://assets.website-files.com/63edcc04ea8777a0bc4eed69/63f4beb6da7598008cca277e_Group%202.webp" loading="lazy" width="154.5" style="-webkit-transform:translate3d(60px, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(60px, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(60px, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(60px, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" alt="a black and white image of a black background with white dots" data-w-id="3b593274-3a8c-6de0-f962-8be280cb72f1" class="illustration is-bottom-right z-index--1" />
                            <div class="filter-blur is-courses"></div>
                        </div>
                        <img src="https://assets.website-files.com/63edcc04ea8777a0bc4eed69/63f8318971afc2168247c86b_59.webp" loading="lazy" style="opacity:0" width="32" alt="A group of white lights" data-w-id="3b593274-3a8c-6de0-f962-8be280cb72f2" class="position-absolute is-top-left is-courses" />
                        <img src="https://assets.website-files.com/63edcc04ea8777a0bc4eed69/63f83189a4a859341787cb70_37.webp" loading="lazy" width="39.5" style="opacity:0" alt="Icon" data-w-id="3b593274-3a8c-6de0-f962-8be280cb72ef" class="illustration is-courses-top-right" />
                        <img src="https://assets.website-files.com/63edcc04ea8777a0bc4eed69/63f83188a3f012c038a1c528_Shape.webp" loading="lazy" style="opacity:0" width="37" alt="Star Icon
" data-w-id="3b593274-3a8c-6de0-f962-8be280cb72ec" class="position-absolute is-courses-bottom-left" />
                    </div>
                </div>
            </div>
        </div>
        <div class="filter-blur"></div>
    </section>
    <section class="section-courses">
        <div class="padding-global">
            <div class="container-large">
                <div class="padding-section-large">
                    <div data-w-id="c5dcbdd9-f1f6-0162-b671-dd49d2c20952" style="-webkit-transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="course-heading-wrapper">
                        <h2>Our Courses</h2>
                        <div class="course-category-list-wrapper w-dyn-list">
                            <div role="list" class="course-category-list w-dyn-items">
                                <div role="listitem" class="course-category-item w-dyn-item">
                                    <a href="/courses" aria-current="page" class="button is-secondary w-button w--current">All Courses</a>
                                </div>
                                @foreach (var category in Model.Categories)
                                {
                                    <div role="listitem" class="course-category-item w-dyn-item">
                                        <a class="button is-secondary w-button">@category.Content</a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="padding-bottom padding-large"></div>
                    <div data-w-id="c5dcbdd9-f1f6-0162-b671-dd49d2c2095d" style="-webkit-transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="courses-omponent">
                        <div class="courses-list-wrapper w-dyn-list">
                            <div role="list" class="courses-list w-dyn-items">
                                @foreach (var course in Model.Courses)
                                {
                                    <div role="listitem" class="courses-item w-dyn-item">
                                        <div class="courses-card">
                                            <a href="/courses/single/@course..Id" class="courses-image-link w-inline-block">
                                                <div class="courses-image-wrapper">
                                                    
                                                        <img src="@Model.BaseUrl/@course.Template.CourseImagePathOrContainer/@course.Template.CourseImageName" loading="lazy" alt="@course.Template.CourseImageName" sizes="(max-width: 479px) 100vw, (max-width: 767px) 83vw, (max-width: 991px) 39vw, 25vw" class="courses-image" />
                                                    
                                                    
                                                </div>
                                            </a>
                                            <div class="courses-item-content">
                                                <div class="courses-item-content-top">
                                                    <a href="/courses/single/@course.Id" class="courses-category-link w-inline-block">
                                                        <div>@course.Category.Content</div>
                                                    </a>
                                                    <a href="/courses/single/@course.Id" class="courses-title-link w-inline-block">
                                                        <h3 class="heading-style-h5">@course.Title</h3>
                                                    </a>
                                                    <div class="text-size-regular">@(course.Template.Description.Length > 150 ? $"{course.Template.Description.Substring(0, 150)}..." : course.Template.Description)</div>
                                                </div>
                                                <div class="course-content-bottom">
                                                    <div></div>
                                                    <div>
                                                        <a href="/courses/single/@course.Id" class="button is-secondary w-button">View Course</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-team">
        <div class="padding-global">
            <div class="container-large">
                <div class="padding-section-large">
                    <div class="text-align-center">
                        <div data-w-id="380f781e-1136-41ba-f969-ecc8c025855f" class="max-width-large align-center">
                            @* <div class="sub-heading">Team Members</div> *@
                            <div class="padding-bottom padding-xsmall"></div>
                            <h2>
                                Our Expert <span class="text-color-primary">Instructors</span>
                            </h2>
                            <div class="padding-bottom padding-small"></div>
                            <p>
                                They understand the journey of starting in IT from scratch. Through dedication and effort, they acquired the skills necessary to secure remarkable positions in the industry. Now, they're here to support you in achieving the same success.​​
                            </p>
                        </div>
                    </div>
                    <div class="padding-bottom padding-large"></div>
                    <div data-w-id="380f781e-1136-41ba-f969-ecc8c025856b" class="team-component">
                        <div class="team-list-wrapper w-dyn-list">
                            <div role="list" class="team-list w-dyn-items">
                                @if (Model.Instructors != null && Model.Instructors.Count() > 0)
                                {
                                    @foreach (var instructor in Model.Instructors)
                                    {
                                        <div role="listitem" class="team-item w-dyn-item">
                                            <a href="javascript:void(0);" class="team-card w-inline-block">
                                                <div class="team-top-wrapper">
                                                    <figure class="team-image-wrapper">
                                                        @if (string.IsNullOrEmpty(instructor.ProfileImageName) && string.IsNullOrEmpty(instructor.ProfileImagePathOrContainer))
                                                        {
                                                            <img src="/Assets/panel/assets/img/icon/user.png" loading="lazy" alt="Theresa Webb" class="team-image" />
                                                        }
                                                        else
                                                        {
                                                            <img src="@Model.BaseUrl/@instructor.ProfileImagePathOrContainer/@instructor.ProfileImageName" loading="lazy" alt="Theresa Webb" class="team-image" />
                                                        }

                                                    </figure>
                                                </div>
                                                <div class="team-content">
                                                    <div class="team-text-wrapper">
                                                        <h3 class="heading-style-h6">@instructor.FirstName @instructor.LastName</h3>
                                                        <div>@instructor.Profession</div>
                                                        <p>@instructor.Description</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="padding-bottom padding-large"></div>
                    <div data-w-id="380f781e-1136-41ba-f969-ecc8c0258582" class="button-group is-center">
                        <a href="/instructor" class="button is-secondary w-button">See All Instructors</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-faq">
        <div class="padding-global">
            <div class="container-small">
                <div class="padding-section-large">
                    <div class="text-align-center">
                        <div data-w-id="d48ee730-c8a5-4405-d9ed-29b2beba958d" class="max-width-large align-center">
                            @* <div class="sub-heading">FAQ</div> *@
                            <div class="padding-bottom padding-xsmall"></div>
                            <h2>Frequently Asked Questions</h2>
                            <div class="padding-bottom padding-small"></div>
                            <p>
                                Find answers to common queries about our courses and programs
                                <span class="hide-mobile-landscape">
                                    <br />
                                </span>
                                courses and programs
                            </p>
                        </div>
                    </div>
                    <div class="padding-bottom padding-xxlarge"></div>
                    <div data-w-id="d48ee730-c8a5-4405-d9ed-29b2beba959a" class="faq-component">
                        <div class="w-layout-grid faq-list">
                            @if (Model.Faqs != null && Model.Faqs.Count() > 0)
                            {
                                @foreach (var faq in Model.Faqs)
                                {
                                    <div class="faq-accordion">
                                        <div class="faq-question">
                                            <div class="faq-text-wrapper">
                                                <div class="faq-icon-wrapper">
                                                    <div class="faq-icon is-left"></div>
                                                    <div class="faq-icon"></div>
                                                </div>
                                                <div class="text-weight-bold text-size-medium">@faq.Question</div>
                                            </div>
                                            <div class="faq-shape"></div>
                                        </div>
                                        <div class="faq-answer">
                                            <p>@faq.Answer</p>
                                            <div class="padding-bottom padding-small"></div>
                                        </div>
                                    </div>
                                }
                            }

                        </div>
                    </div>
                    <div class="padding-bottom padding-xxlarge"></div>
                    <div data-w-id="d48ee730-c8a5-4405-d9ed-29b2beba95dd" class="faq-bottom-wrapper">
                        <div class="text-align-center">
                            <div class="max-width-medium align-center">
                                <h3 class="heading-style-h6">Still have questions?</h3>
                                <div class="padding-bottom padding-xsmall"></div>
                                @* <p class="text-size-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>*@
                                <div class="padding-bottom padding-small"></div>
                            </div>
                            <div class="button-group is-center">
                                <a href="/contact" class="button w-button">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
     <section class="section-cta">
        <div class="padding-global">
            <div class="container-small">
                <div class="padding-section-large">
                    <div data-w-id="370a17b2-f508-83c7-8d0e-450a5bdf48b3" class="cta-component">
                        <h2>Subscribe To Our Newsletter</h2>
                        <div class="padding-bottom padding-small"></div>
                        <p>
                            Join our newsletter for the latest course updates,
                            <span class="hide-mobile-landscape">
                                <br />
                            </span>
                            exclusive discounts, and more!​
                        </p>
                        <div class="padding-bottom padding-small"></div>
                        <div class="form-block w-form">
                            <form id="Newsletter-Form" name="wf-form-Newsletter-Form" data-name="Newsletter Form" class="form" data-wf-page-id="63edcc04ea877745424eed6d" data-wf-element-id="370a17b2-f508-83c7-8d0e-450a5bdf48be">
                                <input class="form-input w-input" maxlength="256" name="Newsletter-Form" data-name="Newsletter-Form" placeholder="Enter your email" type="email" id="Newsletter-Form-Input" required="" />
                                <input type="submit" data-wait="Please wait..." class="button w-button" value="Get Started" />
                            </form>
                            <div class="success-message w-form-done">
                                <div class="success-text">Thank you! Your submission has been received!</div>
                            </div>
                            <div class="error-message w-form-fail">
                                <div class="error-text">Oops! Something went wrong while submitting the form.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img src="https://assets.website-files.com/63edcc04ea8777a0bc4eed69/63f2e33385872ab1e69eae6d_Frame.webp" loading="lazy" width="182" alt="Icon" class="rotate-shape" />
        <img src="https://assets.website-files.com/63edcc04ea8777a0bc4eed69/63f2f987b68fbb46cfa84263_Vector.webp" loading="lazy" width="24.5" alt="Icon" class="rotate-shape top-right" />
        <img src="https://assets.website-files.com/63edcc04ea8777a0bc4eed69/63f2f9872d342cefb811ddb4_Vector-2.webp" loading="lazy" width="27.5" alt="Icon" class="rotate-shape bottom-center" />
        <img src="https://assets.website-files.com/63edcc04ea8777a0bc4eed69/63f2f987f9b3c88209398bc9_Vector-1.webp" loading="lazy" width="27.5" alt="Icon" class="rotate-shape top-left" />
    </section>
</main>