@model IEnumerable<Course>

<script>
    function applyGradientColors() {
        const courseCardImages = document.querySelectorAll('.course_card_image');
        courseCardImages.forEach((element, index) => {
            const gradientIndex = Math.floor(index % 6) + 1;
            element.classList.add('gradient-' + gradientIndex);
        });
    }

    document.addEventListener('DOMContentLoaded', function () {
        applyGradientColors();
    });

    function deleteCourse(id) {
        $.ajax({
            type: 'DELETE',
            url: `/Admin/Courses/DeleteCourse/${id}`,
            success: (response) => {
                if(response.success){
                    $(`#item_${id}`).fadeOut(500);
                    showToaster('success', 'Course Has Been Deleted Successfull');
                }
                else{
                    showToaster('error', 'Failed To Delete Course');
                }
            }, 
            error: function (xhr, status, error) {
                console.log(xhr.responseText);
                hideLoading();
                showToaster('error', 'Failed To Delete Course');
            }
        })
    }

    function showToaster(type, content) {
        Command: toastr[type](content);
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "500",
            "timeOut": "1000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
    }
</script>



<div class="tabs__wrapper">
    <ul class="tabs__container__between">
        <li class="ns-tabs--tab">
            <a class="ns-tab--item ns-tab--item-active"> Courses </a>
        </li>
        <li class="ns-tabs--tab">
            <a class="ns-tab--item ns-tab--item--button" href="/Admin/Courses/Create"> + Add Course </a>
        </li>
    </ul>
</div>

<div class="items_grid">

    @foreach (var item in Model)
    {
        <div class="course_card" id="item_@item.Id">
            <div class="course_card_content">
                <a title="EU9-Java Programming" href="#">
                    <div class="course_card_image" style="--aspect-ratio: 16/9;">
                        <div class="course_card_image_title">
                            @item.Title
                        </div>
                    </div>
                </a>
                <div class="course_card_text">
                    <div class="course_card_top">
                        <a class="course_card_title" title="@item.CourseCode-@item.Title" href="/Admin/Courses/Single/@item.Id"> @item.CourseCode-@item.Title</a>

                        <button class="button_bookmark" onclick="deleteCourse('@item.Id')">
                            <i class="fa-solid fa-trash align-middle"></i>
                        </button>
                        <a class="button_bookmark" href="/Admin/Courses/Update/@item.Id" style="display: flex;justify-content: center;align-items: center;">
                            <i class="fa-solid fa-pen-to-square align-middle"></i>
                        </a>
                    </div>
                    <div class="course_card_bottom">
                        <div class="course_modules_info">
                            <i class="fa-solid fa-shapes align-middle"></i>
                            @item.Modules.Count() modules
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>