@model CourseSingleVm

@{
    ViewData["Title"] = "Single";
}

@section Scripts{
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
}

@* <nav>
    <ol class="breadcrumb p-0 my-1 mb-3">
        <li class="breadcrumb_item">
            <div class="link_breadcrumb">
                <a href="/member/dashboard">Instructor</a>
                <div class="slash">/</div>
            </div>
        </li>
        <li class="breadcrumb_item active">
            Courses
        </li>
    </ol>
</nav> *@

<div class="program_container">
    <div class="program_container_section">
        <div class="line"></div>

        <div class="program_container_flex">
            <div style="flex: none;">

                
                @if (!string.IsNullOrEmpty(Model.Course.Template.CourseFragmentVideoPathOrContainer) && !string.IsNullOrEmpty(Model.Course.Template.CourseFragmentVideoName))
                {
                    <div class="program_image" style="--aspect-ratio: 16/9;">

                        <video src="@Model.BaseUrl/@Model.Course.Template.CourseFragmentVideoPathOrContainer/@Model.Course.Template.CourseFragmentVideoName" controls></video>
                    </div>

                }

            </div>

            @if (!string.IsNullOrEmpty(Model.Course.Template.CourseFragmentVideoPathOrContainer) && !string.IsNullOrEmpty(Model.Course.Template.CourseFragmentVideoName))
            {
                <div class="program_info_container">
                    <div class="program_info">
                        <h1 class="title_info"> @Model.Course.CourseCode-@Model.Course.Title </h1>
                        <p class="description_info"> @Model.Course.Template.Description </p>
                    </div>
                    <div class="program_meta_info">
                        <div class="meta_info">
                            <div class="meta_info_icon">
                                <i class="fa-regular fa-file align-middle"></i>
                            </div>
                            <div class="meta_info_text">
                                <p class="meta_title">9 Modlues</p>
                            </div>
                        </div>
                    </div>
                </div>

            }
            else
            {
                <div class="program_info_container" id="courseSingleNoVideo">
                    <div class="program_info">
                        <h1 class="title_info"> @Model.Course.CourseCode-@Model.Course.Title </h1>
                        <p class="description_info"> @Model.Course.Template.Description </p>
                    </div>
                    <div class="program_meta_info">
                        <div class="meta_info">
                            <div class="meta_info_icon">
                                <i class="fa-regular fa-file align-middle"></i>
                            </div>
                            <div class="meta_info_text">
                                <p class="meta_title">9 Modlues</p>
                            </div>
                        </div>
                    </div>
                </div>
            }

            
        </div>

        <div class="line"></div>
    </div>
</div>
<div class="tabs__wrapper">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="modules-tab" data-toggle="tab" href="#modules" role="tab" aria-controls="modules" aria-selected="true">Modules</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="instructors-tab" data-toggle="tab" href="#instructors" role="tab" aria-controls="instructors" aria-selected="false">Instructors</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="students-tab" data-toggle="tab" href="#students" role="tab" aria-controls="students" aria-selected="false">Students</a>
        </li>
    </ul>
</div>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active " id="modules" role="tabpanel" aria-labelledby="modules-tab">

        <script>
            function applyGradientColors() {
                const courseCardImages = document.querySelectorAll('.course_card_image');
                courseCardImages.forEach((element, index) => {
                    const gradientIndex = Math.floor(index % 6) + 1;
                    element.classList.add('gradient-' + gradientIndex);
                });
            }

            document.addEventListener('DOMContentLoaded', function () {
                applyGradientColors();
            });
        </script>

        <div class="items_grid">


            @foreach (var item in Model.Course.Modules)
            {
                <div class="course_card" id="item_@item.Id">
                    <div class="course_card_content">
                        <a title="EU9-Java Programming" href="javascript:void(0)">
                            <div class="course_card_image" style="--aspect-ratio: 16/9;">
                                <div class="course_card_image_title">
                                    @item.Title
                                </div>
                            </div>
                        </a>
                        <div class="course_card_text">
                            <div class="course_card_top">
                                <a class="course_card_title" title="@item.Title" href="javascript:void(0)"> @item.Title</a>

                                <button class="button_bookmark">
                                    <i class="fa-solid fa-trash align-middle"></i>
                                </button>
                                <a class="button_bookmark"
                                   style="display: flex;justify-content: center;align-items: center;"
                                   href="javascript:void(0)">
                                    <i class="fa-solid fa-pen-to-square align-middle"></i>
                                </a>
                            </div>
                            <div class="course_card_bottom">
                                <div class="course_modules_info">
                                    <div class="course_modules_info_inner">
                                        <div>
                                            <i class="fa-solid fa-shapes align-middle mr-2"></i>
                                            @item.Lectures.Count() lectures
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>


    </div>
    <div class="tab-pane fade" id="instructors" role="tabpanel" aria-labelledby="instructors-tab">
        <div class="tabs__wrapper">
            <ul class="tabs__container__between">
                <li class="ns-tabs--tab">
                    <a class="ns-tab--item ns-tab--item-active"> Instructors </a>
                </li>
                <li class="ns-tabs--tab">
                    <a class="ns-tab--item ns-tab--item--button" href="/Admin/Courses/AssignInstructors/@Model.Course.Id"> + Assign Instructor </a>
                </li>
            </ul>
        </div>

        <partial name="CourseInstructorsPartial" model="new CourseInstructorsVm(){
            Instructors = Model.Course.Instructors.Where(UserQueryFilters<Instructor>.GeneralFilter),
            Course = Model.Course,
            BaseUrl = Model.BaseUrl
        }" />
    </div>
    <div class="tab-pane fade" id="students" role="tabpanel" aria-labelledby="students-tab">
        <div class="tabs__wrapper">
            <ul class="tabs__container__between">
                <li class="ns-tabs--tab">
                    <a class="ns-tab--item ns-tab--item-active"> Students </a>
                </li>
                <li class="ns-tabs--tab">
                    <a class="ns-tab--item ns-tab--item--button" href="/Admin/Courses/AssignStudents/@Model.Course.Id"> + Assign Student </a>
                </li>
            </ul>
        </div>

        <partial name="CourseStudentsPartial" model="new CourseStudentsVm(){
            Students = Model.Course.Students.Where(UserQueryFilters<Student>.GeneralFilter),
            Course = Model.Course,
            BaseUrl = Model.BaseUrl
        }" />
    </div>
</div>

<div class="items_grid collapse" id="modules">
    
</div>

