@model CourseUpdateVm

<div class="widget-content multistep-form">
    <form method="post">
        <input hidden asp-for="Id"/>
        <fieldset class="field-card">
            <div class="add-course-info">
                <div class="add-course-inner-header">
                    <h4>Course Information</h4>
                </div>
                <div class="add-course-form">
                    <div class="input-block">
                        <label class="add-course-label" asp-for="CourseCode"></label>
                        <input type="text" class="form-control" asp-for="CourseCode">
                        <span class="text-danger" asp-validation-for="CourseCode"></span>
                    </div>
                    <div class="input-block">
                        <label class="add-course-label" asp-for="CourseTitle"></label>
                        <input type="text" class="form-control" asp-for="CourseTitle">
                        <span class="text-danger" asp-validation-for="CourseTitle"></span>
                    </div>

                    <div class="input-block">
                        <label class="add-course-label" asp-for="CourseCategory"></label>
                        <select class="form-control select" asp-items="@ViewBag.Categories" asp-for="CourseCategory">
                        </select>
                        <span class="text-danger" asp-validation-for="CourseCategory"></span>
                    </div>
                    <div class="input-block">
                        <label class="add-course-label" asp-for="CourseLevel"></label>
                        <select class="form-control select" id="course-level-select" asp-items="@ViewBag.CourseLevels" asp-for="CourseLevel">
                        </select>
                        <span class="text-danger" asp-validation-for="CourseLevel"></span>
                    </div>
                    <div class="input-block">
                        <label class="add-course-label" asp-for="Template"></label>
                        <select class="form-control select" asp-items="@ViewBag.Templates" asp-for="Template">
                        </select>
                        <span class="text-danger" asp-validation-for="Template"></span>
                    </div>

                    @if (ViewBag.Courses != null)
                    {
                        <div class="input-block">
                            <label class="add-course-label" asp-for="FirstAdvicedCourse"></label>
                            <select class="form-control select" asp-items="@ViewBag.Courses" asp-for="FirstAdvicedCourse">
                                <option selected></option>
                            </select>
                            <span class="text-danger" asp-validation-for="FirstAdvicedCourse"></span>
                        </div>

                        <div class="input-block">
                            <label class="add-course-label" asp-for="SecondAdvicedCourse"></label>
                            <select class="form-control select" asp-items="@ViewBag.Courses" asp-for="SecondAdvicedCourse">
                                <option selected></option>
                            </select>
                            <span class="text-danger" asp-validation-for="SecondAdvicedCourse"></span>
                        </div>
                    }
                </div>

                <div class="widget-btn">
                    <button class="btn btn-info-light" type="submit">Submit</button>
                </div>
            </div>
        </fieldset>

    </form>

</div>
