@model Module

@section Scripts{
    @if (TempData["LectureCreatedSuccess"] != null && (bool)TempData["LectureCreatedSuccess"] == true)
    {
        <script>
            Command: toastr["success"]("Lecture has been created.");
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-bottom-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "500",
                "timeOut": "1000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };
        </script>
    }

    @if (TempData["LectureFileCreatedSuccess"] != null && (bool)TempData["LectureFileCreatedSuccess"] == true)
    {
        <script>
            Command: toastr["success"]("Lecture file has been added.");
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-bottom-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "500",
                "timeOut": "1000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };
        </script>
    }
}

<nav>
    <ol class="breadcrumb p-0 my-1 mb-3">
        <li class="breadcrumb_item">
            <div class="link_breadcrumb">
                <a href="/member/dashboard">Instructor</a>
                <div class="slash">/</div>
            </div>
        </li>
        <li class="breadcrumb_item active">
            Courses
        </li>
    </ol>
</nav>

<div class="program_container">
    <div class="program_container_section">
        <div class="line"></div>

        <div class="program_container_flex">
            <div style="flex: none;">
            </div>

            <div class="program_info_container" id="courseSingleNoVideo">
                <div class="program_info">
                    <h1 class="title_info"> EU9-Java Programming </h1>
                    <p class="description_info">
                        With this course, you will gain foundational knowledge in Java, which is the first step towards becoming a successful JAVA SDET. The course starts with basic Java concepts such as variables and methods used to keep track of information. It will be followed by conditional statements, loops, and arrays for processing and solving complex problems. At the end of the source, you will learn advanced Java concepts such as Object-Oriented Programming and Data structures.
                    </p>
                </div>
                <div class="program_meta_info">
                    <div class="meta_info">
                        <div class="meta_info_icon">
                            <i class="fa-regular fa-file align-middle"></i>
                        </div>
                        <div class="meta_info_text">
                            <p class="meta_title">@Model.Lectures.Where(x => !x.IsDeleted).Count() Lectures</p>
                        </div>
                    </div>
                </div>
            </div>



        </div>

        <div class="line"></div>
    </div>
</div>

<div class="tabs--wrapper display-flex align-items-center justify-space-between">
    <ul class="tabs--container">
        <li class="tabs--tab">
            <a class="tab--item tab--item-active"> Modules </a>
        </li>
        <!---->
        <!---->
    </ul>

    <div class="display-flex">

        <div class="button-set text-right">
            <div class="toggle-module-button">
                <a href="/Instructor/Lectures/Create/@Model.Id">
                    Add +
                </a>
            </div>
        </div>

        <div class="button-set text-right">
            <button class="toggle-module-button" onclick="expandAll()"> Expand All </button>
        </div>


    </div>

    <!---->
</div>

<div class="items_list">

    @foreach (Lecture lecture in Model.Lectures.Where(x => !x.IsDeleted))
    {
        <div class="item_container" id="lecture_box_@lecture.Id">
            <div class="item_card_wrapper" id="item_card_wrapper_@lecture.Id">
                <div class="item_card_header" id="item_card_header_@lecture.Id" >
                    <div class="card_header_left" onclick="handleItemExpand('@lecture.Id')">
                        @lecture.Title
                    </div>
                    <div class="card_header_right">

                        <a class="card_header_button button_bookmark bookmark_outline" href="/Instructor/Lectures/AddFile/@Model.Id/@lecture.Id">
                            <i class="fa-solid fa-plus"></i>
                        </a>
                        <a class="card_header_button button_bookmark bookmark_outline" href="/Instructor/Lectures/Update/@lecture.Id">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                        <button class="card_header_button button_bookmark bookmark_outline" onclick="deleteLecture('@lecture.Id')">
                            <i class="fa-solid fa-trash"></i>
                        </button>

                        <button class="card_header_button expand_button" id="expand_button_@lecture.Id" onclick="handleItemExpand('@lecture.Id')">
                            <i class="fa-solid fa-arrow-down"></i>
                        </button>
                    </div>
                </div>

                @if (lecture.LectureFiles != null && lecture.LectureFiles.Where(x => !x.IsDeleted).Count() > 0)
                {
                    <div class="cards_content_wrapper ">
                        <div class="items_cards_container">

                            @foreach (LectureFile lectureFile in lecture.LectureFiles.Where(x => !x.IsDeleted))
                            {
                                if (lectureFile.FileType == FileType.MP4)
                                {
                                    <div class="item_card_content" id="lectureFile_box_@lectureFile.Id">
                                        <div class="card_wrapper_content">
                                            <div class="item_content_container item_indent_0">
                                                <div class="content_left_container">
                                                    <div class="icon_content_item">
                                                        <i class="fa-solid fa-video"></i>
                                                    </div>
                                                    <div class="text_card_info_content">
                                                        <a class="text_card_info_title"> @lectureFile.Title </a>
                                                        <span class="text_card_info_small"> Video ● @lectureFile.Duration </span>
                                                    </div>
                                                </div>
                                                <div class="content_right_container">

                                                    <a class="card_header_button button_bookmark bookmark_outline" href="/Instructor/Lectures/UpdateFile/@lectureFile.Id">
                                                        <i class="fa-solid fa-pen-to-square"></i>
                                                    </a>

                                                    <button class="card_header_button button_bookmark bookmark_outline" onclick="deleteLectureFile('@lectureFile.Id')">
                                                        <i class="fa-solid fa-trash"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else if (lectureFile.FileType == FileType.URL)
                                {
                                    <div class="item_card_content" id="lectureFile_box_@lectureFile.Id">
                                        <div class="card_wrapper_content">
                                            <div class="item_content_container item_indent_0">
                                                <div class="content_left_container">
                                                    <div class="icon_content_item">
                                                        <i class="fa-solid fa-link"></i>
                                                    </div>
                                                    <div class="text_card_info_content">
                                                        <a class="text_card_info_title" href="@lectureFile.Url"> @lectureFile.Title </a>
                                                        <span class="text_card_info_small">Url</span>
                                                    </div>
                                                </div>
                                                <div class="content_right_container">
                                                    <a class="card_header_button button_bookmark bookmark_outline" href="/Instructor/Lectures/UpdateFile/@lectureFile.Id">
                                                        <i class="fa-solid fa-pen-to-square"></i>
                                                    </a>

                                                    <button class="card_header_button button_bookmark bookmark_outline" onclick="deleteLectureFile('@lectureFile.Id')">
                                                        <i class="fa-solid fa-trash"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else if (lectureFile.FileType == FileType.TXT)
                                {
                                    <div class="item_card_content" id="lectureFile_box_@lectureFile.Id">
                                        <div class="card_wrapper_content">
                                            <div class="item_content_container item_indent_0">
                                                <div class="content_left_container">
                                                    <div class="icon_content_item">
                                                        <i class="fa-solid fa-file"></i>
                                                    </div>
                                                    <div class="text_card_info_content">
                                                        <a class="text_card_info_title"> @lectureFile.Title </a>
                                                        <span class="text_card_info_small">Txt ● @lectureFile.FileSize</span>
                                                    </div>
                                                </div>
                                                <div class="content_right_container">
                                                    <a class="card_header_button button_bookmark bookmark_outline" href="/Instructor/Lectures/UpdateFile/@lectureFile.Id">
                                                        <i class="fa-solid fa-pen-to-square"></i>
                                                    </a>

                                                    <button class="card_header_button button_bookmark bookmark_outline" onclick="deleteLectureFile('@lectureFile.Id')">
                                                        <i class="fa-solid fa-trash"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else if (lectureFile.FileType == FileType.PDF)
                                {
                                    <div class="item_card_content" id="lectureFile_box_@lectureFile.Id">
                                        <div class="card_wrapper_content">
                                            <div class="item_content_container item_indent_0">
                                                <div class="content_left_container">
                                                    <div class="icon_content_item">
                                                        <i class="fa-solid fa-file"></i>
                                                    </div>
                                                    <div class="text_card_info_content">
                                                        <a class="text_card_info_title"> @lectureFile.Title </a>
                                                        <span class="text_card_info_small">Pdf ● @lectureFile.FileSize</span>
                                                    </div>
                                                </div>
                                                <div class="content_right_container">
                                                    <a class="card_header_button button_bookmark bookmark_outline" href="/Instructor/Lectures/UpdateFile/@lectureFile.Id">
                                                        <i class="fa-solid fa-pen-to-square"></i>
                                                    </a>

                                                    <button class="card_header_button button_bookmark bookmark_outline" onclick="deleteLectureFile('@lectureFile.Id')">
                                                        <i class="fa-solid fa-trash"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }

                        </div>
                    </div>
                }

            </div>
        </div>
    }

</div>

<script>

    function deleteLecture(id){
        $.ajax({
            type: 'DELETE',
            url: `/Instructor/Lectures/Delete/${id}`,
            success: (response) => {
                if(response.success){
                    $(`#lecture_box_${id}`).fadeOut(500);
                    showToaster('success', 'Lecture deleted.');
                }
                else{
                    showToaster('error', 'Failed to delete lecture.');
                }
            },
            error: (error) => {
                showToaster('error', 'Failed to delete lecture.');
            }
        });
    }

    function deleteLectureFile(id) {
        $.ajax({
            type: 'DELETE',
            url: `/Instructor/Lectures/DeleteFile/${id}`,
            success: (response) => {
                if (response.success) {
                    $(`#lectureFile_box_${id}`).fadeOut(500);
                    showToaster('success', 'Lecture File deleted.');
                }
                else {
                    showToaster('error', 'Failed to delete lecture file.');
                }
            },
            error: (error) => {
                showToaster('error', 'Failed to delete lecture file.');
            }
        });
    }

    function handleItemExpand(id) {
        const item_card_wrapper = document.getElementById(`item_card_wrapper_${id}`);
        const item_card_header = document.getElementById(`item_card_header_${id}`);
        const expand_button = document.getElementById(`expand_button_${id}`);

        if (
            item_card_wrapper.classList.contains('item_card_wrapper_open') &&
            item_card_header.classList.contains('item_card_header_open')

        ) {
            item_card_wrapper.classList.remove('item_card_wrapper_open');
            item_card_header.classList.remove('item_card_header_open');

            expand_button.innerHTML = `<i class="fa-solid fa-arrow-down"></i>`;

            console.log(item_card_wrapper, item_card_header, expand_button);
        }
        else {

            item_card_wrapper.classList.add('item_card_wrapper_open');
            item_card_header.classList.add('item_card_header_open');

            expand_button.innerHTML = ` <i class="fa-solid fa-arrow-up"></i> `;

            console.log(item_card_wrapper, item_card_header, expand_button);
        }
    }

    function expandAll() {
        const items = document.querySelectorAll('.item_container')

        items?.forEach(item => {
            const item_card_wrapper = item.querySelector('.item_card_wrapper');
            const item_card_header = item.querySelector('.item_card_header');
            const expand_button = item.querySelector('.expand_button');

            if (
                !item_card_wrapper.classList.contains('item_card_wrapper_open') &&
                !item_card_header.classList.contains('item_card_header_open')
            ) {
                item_card_wrapper.classList.add('item_card_wrapper_open');
                item_card_header.classList.add('item_card_header_open');

                expand_button.innerHTML = ` <i class="fa-solid fa-arrow-up"></i> `;
            }

        });
    }

    function showToaster(type, content) {
        Command: toastr[type](content);
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "500",
            "timeOut": "1000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
    }
</script>