@model HomeVm

@{
    ViewData["Title"] = "Home Page";
}

@section Scripts {
    @if (TempData["InstructorApplySuccess"] != null && (bool)TempData["InstructorApplySuccess"] == true)
    {

        <script>
            Command: toastr["success"]("Confirmation link sent to your mail.");
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "500",
                "timeOut": "1000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };
        </script>
    }


    @if (TempData["StudentApplySuccess"] != null && (bool)TempData["StudentApplySuccess"] == true)
    {

        <script>
            Command: toastr["success"]("Confirmation link sent to your mail.");
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "500",
                "timeOut": "1000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };
        </script>
    }
}


<main class="main-wrapper">
    <section class="section-header">
        <div class="padding-global">
            <div class="container-large">
                <div class="padding-section-large">
                    <div data-w-id="74435718-e294-70a5-abbb-a20428619140" class="header-component">
                        <div id="w-node-e0978962-f58c-abbd-ffae-5cab7525260c-424eed6d" data-w-id="e0978962-f58c-abbd-ffae-5cab7525260c" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" class="header-content-wrapper">
                            <div class="sub-heading">Start Your IT Journey</div>
                            <div class="padding-bottom padding-small"></div>
                            <h1>Code Your Way To Success!</h1>
                            <div class="padding-bottom padding-small"></div>
                            <p>
                               Accelerate Your Learning with Our Dynamic Bootcamp Approach.​
                                <span class="hide-mobile-landscape">
                                    <br>
                                </span> Fast-track Your Tech Career with Expert Instruction.​
                            </p>
                            <div class="padding-bottom padding-medium"></div>
                            <a href="/courses" class="button w-button">Find Courses</a>
                            <img src="https://assets.website-files.com/63edcc04ea8777a0bc4eed69/63f3589f4fd577878d0e3d18_Vector-3.webp" loading="lazy" width="10" alt="Icon" class="position-absolute is-top-right is-2">
                            <img src="https://assets.website-files.com/63edcc04ea8777a0bc4eed69/63f3589fba98d30e0ad6edc7_Vector.webp" loading="lazy" width="13.5" alt="Icon" class="position-absolute is-top-right is-1">
                            <img src="https://assets.website-files.com/63edcc04ea8777a0bc4eed69/63f3589fa511aa54e9ab8d23_Vector-2.webp" loading="lazy" width="10.5" alt="Icon" class="position-absolute is-top-right is-3">
                            <img src="https://assets.website-files.com/63edcc04ea8777a0bc4eed69/63f3589fba98d30e0ad6edc7_Vector.webp" loading="lazy" width="13.5" alt="Icon" class="position-absolute is-bottom-left">
                        </div>
                        <div class="header-image-wrapper">
                            <img class="header-image" src="https://assets.website-files.com/63edcc04ea8777a0bc4eed69/63ff1457b65dd1737e766b00_About%20Image%20(2).webp" width="548" alt="a man wearing glasses and headphones" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" sizes="(max-width: 479px) 100vw, (max-width: 991px) 90vw, 41vw" data-w-id="557afa82-7314-2222-8c0d-971ae1c52b70" loading="eager" srcset="https://assets.website-files.com/63edcc04ea8777a0bc4eed69/63ff1457b65dd1737e766b00_About%20Image%20(2)-p-500.webp 500w, https://assets.website-files.com/63edcc04ea8777a0bc4eed69/63ff1457b65dd1737e766b00_About%20Image%20(2)-p-800.webp 800w, https://assets.website-files.com/63edcc04ea8777a0bc4eed69/63ff1457b65dd1737e766b00_About%20Image%20(2).webp 1096w">
                            <img src="/Assets/imgs/cards/Add a heading.png" loading="lazy" alt="Video Courses" width="222" class="illustration is-top-right" style="will-change: transform; transform: translate3d(0px, -2.428px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                            <img src="./Assets/imgs/cards/Add a subheading.png" loading="lazy" alt="graphical user interface, text, application, chat or text message" width="133" class="illustration is-top-left" style="will-change: transform; transform: translate3d(0px, 1.214px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                            <img src="./Assets/imgs/cards/Add a subheading (1).png" loading="lazy" alt="Student Success" width="331" sizes="(max-width: 479px) 100vw, (max-width: 767px) 45vw, 331px" class="illustration is-bottom-left" style="will-change: transform; transform: translate3d(0px, -2.428px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                        </div>
                        <img src="https://assets.website-files.com/63edcc04ea8777a0bc4eed69/63f3589fca4bd87820f45d3d_Vector-4.webp" loading="lazy" width="29" alt="logo" class="position-absolute is-top-left">
                    </div>
                </div>
            </div>
        </div>
        <div class="filter-blur"></div>
    </section>
    
    <section class="section-courses">
        <div class="padding-global">
            <div class="container-large">
                <div class="padding-section-large">
                    <div class="text-align-center">
                        <div data-w-id="ec4dc33d-1b46-fd4c-1243-8ede5f7fb03f" style="-webkit-transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="max-width-large align-center">
                            @* <div class="sub-heading">Our Courses</div> *@
                            <div class="padding-bottom padding-xsmall"></div>
                            <h2>Our Courses</h2>
                            <div class="padding-bottom padding-small"></div>
                            <p class="text-size-medium">
                                Explore Our Comprehensive Course Offerings to Unleash Your Potential in the World of IT.​
                            </p>
                        </div>
                    </div>
                    <div class="padding-bottom padding-large"></div>
                    <div data-w-id="255a1f24-1c76-0679-7ca0-7ceed461729d" style="-webkit-transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="courses-omponent">
                        <div class="courses-list-wrapper w-dyn-list">
                            <div role="list" class="courses-list w-dyn-items">
                                @if(Model.Courses != null)
                                {
                                    @foreach (var course in Model.Courses)
                                    {
                                        <div role="listitem" class="courses-item w-dyn-item">
                                            <div class="courses-card">
                                                <a href="/courses/single/@course.Id" class="courses-image-link w-inline-block">
                                                    <div class="courses-image-wrapper">
                                                        @if (course.CourseImageName != null)
                                                        {
                                                            <img src="@Model.BaseUrl/@course.CourseImagePathOrContainer/@course.CourseImageName" loading="lazy" alt="@course.CourseImageName" sizes="(max-width: 479px) 100vw, (max-width: 767px) 83vw, (max-width: 991px) 39vw, 25vw" class="courses-image" />
                                                        }
                                                        else
                                                        {
                                                            <img src="https://assets.website-files.com/63f3212748a58b8bb6c65a69/63f3871e516ae55b20a43e84_Image.png" loading="lazy" alt="Learn Figma to Webflow " sizes="(max-width: 479px) 100vw, (max-width: 767px) 83vw, (max-width: 991px) 39vw, 25vw" srcset="https://assets.website-files.com/63f3212748a58b8bb6c65a69/63f3871e516ae55b20a43e84_Image-p-500.png 500w, https://assets.website-files.com/63f3212748a58b8bb6c65a69/63f3871e516ae55b20a43e84_Image.png 746w" class="courses-image" />
                                                        }
                                                    </div>
                                                </a>
                                                <div class="courses-item-content">
                                                    <div class="courses-item-content-top">
                                                        <a href="/courses/single/@course.Id" class="courses-category-link w-inline-block">
                                                            <div>@course.Category.Content</div>
                                                        </a>
                                                        <a href="/courses/single/@course.Id" class="courses-title-link w-inline-block">
                                                            <h3 class="heading-style-h5">@course.Title</h3>
                                                        </a>
                                                        <div class="text-size-regular">@(course.Description.Length > 150 ? $"{course.Description.Substring(0, 150)}..." : course.Description)</div>
                                                    </div>
                                                    <div class="course-content-bottom">
                                                        <div></div>
                                                        <div>
                                                            <a href="/courses/single/@course.Id" class="button is-secondary w-button">View Course</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                                
                                
                            </div>
                        </div>
                        <div class="padding-bottom padding-large"></div>
                        <div data-w-id="cd51be81-9c15-dc56-2db8-57cefb0dd0c6" style="-webkit-transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="button-group is-center">
                            <a href="/courses" class="button is-secondary w-button">Explore All Courses</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="feature-wrapper">
        <div class="section-divider"></div>
        <section class="section-feature">
            <div class="padding-global">
                <div class="container-large">
                    <div class="padding-section-large">
                        <div class="w-layout-grid feature-component">
                            <div data-w-id="504d7997-8114-e847-0856-1ae85e46bd84" class="feature-content" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;">
                                <h2>How we help you to land your dream job in coding</h2>
                                <div class="padding-bottom padding-small"></div>
                                <p class="text-size-regular">If you find yourself dissatisfied with your current job or income, whether you're an Uber driver, waiter, or freelancer, and dream of doubling or tripling your salary, we specialize in guiding individuals without degrees or IT backgrounds towards high-paying careers in the IT industry.</p>
                                <div class="padding-bottom padding-large"></div>
                                <div class="feature-list-wrapper">
                                    @if (Model.Abouts != null && Model.Abouts.Count() > 0)
                                    {
                                        @foreach(var about in Model.Abouts)
                                        {
                                            <div class="feature-item">
                                                <div class="feature-item-icon-wrapper">
                                                    <img src="/Assets/imgs/icons/check.png" loading="lazy" width="16" alt="Icon">
                                                </div>
                                                <div class="text-weight-bold text-size-xsmall">@about.Content</div>
                                            </div>

                                        }
                                    }
                                </div>
                            </div>
                            <div id="w-node-_504d7997-8114-e847-0856-1ae85e46bd9b-5e46bd7d" class="feature-image-wrapper">
                                <img src="/Assets/imgs/cards/Add a subheading (3).png" loading="lazy" data-w-id="504d7997-8114-e847-0856-1ae85e46bd9c" width="624" sizes="(max-width: 479px) 100vw, (max-width: 991px) 90vw, 42vw" alt="Our Student Success" class="feature-image z-index-2" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;">
                                <img src="https://assets.website-files.com/63edcc04ea8777a0bc4eed69/63f4beb6da7598008cca277e_Group%202.webp" loading="lazy" width="154.5" data-w-id="504d7997-8114-e847-0856-1ae85e46bd9d" alt="a black and white image of a black background with white dots" class="illustration is-top-left is-feature" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;">
                                <img src="https://assets.website-files.com/63edcc04ea8777a0bc4eed69/63f4beb6da7598008cca277e_Group%202.webp" loading="lazy" width="154.5" data-w-id="504d7997-8114-e847-0856-1ae85e46bd9e" alt="a black and white image of a black background with white dots" class="illustration is-bottom-right" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="section-divider is-bottom"></div>
    </div>

    <div class="is-layout-flow wp-block-group width1200 mt-60 mb-60" bis_skin_checked="1">
        <div class="text-align-center">
            <div data-w-id="ec4dc33d-1b46-fd4c-1243-8ede5f7fb03f" style="-webkit-transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="max-width-large align-center">
                <div class="padding-bottom padding-xsmall"></div>
                <h2>Your Career Pathway</h2>
                <hr class="wp-block-separator has-css-opacity style-small blue bold bold-wide">
                <p class="text-size-medium">Advance Your Career Across IT Fields with Ease.​</p>
            </div>
        </div>



        <div class="pathway-block " bis_skin_checked="1">
            <div class="pathway-block-inner width1100" bis_skin_checked="1">
                <svg class="pathway-block__back" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 5000 2813" preserveAspectRatio="none">
                    <path fill="#E8EBEE" d="M1797.48,1441.5c-19.33,0-35-15.67-35-35c0-368.07-299.45-667.52-667.52-667.52 s-667.52,299.45-667.52,667.52c0,19.33-15.67,35-35,35c-19.33,0-35-15.67-35-35c0-99.55,19.5-196.14,57.97-287.09 c37.15-87.83,90.32-166.7,158.04-234.42c67.72-67.72,146.59-120.89,234.42-158.04c90.95-38.47,187.54-57.97,287.09-57.97 s196.14,19.5,287.09,57.97c87.83,37.15,166.7,90.32,234.42,158.04c67.72,67.72,120.89,146.59,158.04,234.42 c38.47,90.95,57.97,187.54,57.97,287.09C1832.48,1425.83,1816.81,1441.5,1797.48,1441.5z"></path>
                    <path fill="#07a169" d="M691.97,830.92L691.97,830.92c-11.83-15.83-34.33-18.74-49.91-6.59c-23.97,18.69-46.86,38.94-68.6,60.68 c-67.72,67.72-120.89,146.59-158.04,234.41c-38.47,90.95-57.97,187.54-57.97,287.09c0,19.14,15.37,34.7,34.44,35 c19.59,0.31,35.54-16.16,35.56-35.75c0.24-213.59,101.31-404.01,258.07-526.11C700.59,867.91,703.41,846.21,691.97,830.92z"></path>
                    <path fill="#E8EBEE" d="M2500,2144.02c-99.55,0-196.14-19.5-287.09-57.97c-87.83-37.15-166.7-90.32-234.42-158.04 c-67.72-67.72-120.89-146.59-158.04-234.42c-38.47-90.95-57.97-187.54-57.97-287.09c0-19.33,15.67-35,35-35s35,15.67,35,35 c0,368.07,299.45,667.52,667.52,667.52s667.52-299.45,667.52-667.52c0-19.33,15.67-35,35-35s35,15.67,35,35 c0,99.55-19.5,196.14-57.97,287.09c-37.15,87.83-90.32,166.7-158.04,234.42s-146.59,120.89-234.42,158.04 C2696.14,2124.51,2599.55,2144.02,2500,2144.02z"></path>
                    <path fill="#07a169" d="M2594.34,2103.72L2594.34,2103.72c-1.56-19.32-18.51-33.71-37.82-32.08c-18.64,1.57-37.49,2.37-56.52,2.37 c-368.07,0-667.52-299.45-667.52-667.52c0-19.54-16.02-35.35-35.64-34.99c-19.17,0.34-34.37,16.43-34.36,35.61 c0.08,99.33,19.59,195.71,57.97,286.48c37.15,87.82,90.33,166.69,158.05,234.41s146.59,120.9,234.41,158.04 c90.95,38.47,187.54,57.98,287.09,57.98c20.87,0,41.61-0.86,62.19-2.57C2581.49,2139.85,2595.9,2123.02,2594.34,2103.72z"></path>
                    <path fill="#E8EBEE" d="M4607.55,1441.5c-19.33,0-35-15.67-35-35c0-368.07-299.45-667.52-667.52-667.52 s-667.52,299.45-667.52,667.52c0,19.33-15.67,35-35,35s-35-15.67-35-35c0-99.55,19.5-196.14,57.97-287.09 c37.15-87.83,90.32-166.7,158.04-234.42c67.72-67.72,146.59-120.89,234.42-158.04c90.95-38.47,187.54-57.97,287.09-57.97 s196.14,19.5,287.09,57.97c87.83,37.15,166.7,90.32,234.42,158.04c67.72,67.72,120.89,146.59,158.04,234.42 c38.47,90.95,57.97,187.54,57.97,287.09C4642.55,1425.83,4626.88,1441.5,4607.55,1441.5z"></path>
                    <path fill="#07a169" d="M4628.91,1264.37c-9.67-49.58-24.47-98.02-44.33-144.96c-37.15-87.82-90.32-166.69-158.04-234.41 c-67.72-67.72-146.59-120.9-234.42-158.05c-90.95-38.46-187.54-57.97-287.08-57.97c-99.55,0-196.14,19.51-287.09,57.97 c-87.83,37.15-166.7,90.33-234.42,158.05s-120.89,146.59-158.04,234.41c-38.47,90.95-57.97,187.54-57.97,287.09 c0,19.14,15.37,34.7,34.44,35c19.53,0.3,35.54-16.11,35.56-35.65c0.35-367.77,299.66-666.87,667.52-666.87 c324.02,0,594.85,232.06,655.03,538.7c3.92,19.98,23.96,32.45,43.6,27.1l0,0C4621.35,1299.97,4632.42,1282.35,4628.91,1264.37z"></path>
                </svg>


                <div class="pathway-block__col" bis_skin_checked="1">
                    <h2>€‎35K</h2>
                    <h4>Average starting salary</h4>
                    <h3>Types of Entry Level Roles</h3>
                    <div class="pathway-block__list" bis_skin_checked="1">
                        <div bis_skin_checked="1">Tech/Dev Support</div>
                        <div bis_skin_checked="1">Jnr Full-Stack Developer</div>
                        <div bis_skin_checked="1">Q/A Tester</div>
                        <div bis_skin_checked="1">Front End Developer</div>
                    </div>
                </div>
                <svg class="pathway-block__arrow arrow-1" xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 200 200">
                    <g transform="translate(-1697.48 -1306.5)">
                        <circle cx="100" cy="100" r="100" transform="translate(1697.48 1306.5)" fill="#fff"></circle>
                        <path d="M1784.01,1406.5l-19.27-54.22,77.49,54.22-77.49,54.22Z" fill="#111"></path>
                    </g>
                </svg>

                <div class="pathway-block__col middle__col" bis_skin_checked="1">
                    <h2>€‎55K</h2>
                    <h4>Average salary with 3-5 years experience</h4>
                    <h3>Types of Mid-Senior Roles</h3>
                    <div class="pathway-block__list" bis_skin_checked="1">
                        <div bis_skin_checked="1">Full-Stack Developer</div>
                        <div bis_skin_checked="1">Python Developer</div>
                        <div bis_skin_checked="1">.net Developer</div>
                        <div bis_skin_checked="1">Senior Technical Support</div>
                    </div>
                </div>
                <svg class="pathway-block__arrow arrow-2" xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 200 200">
                    <g transform="translate(-1697.48 -1306.5)">
                        <circle cx="100" cy="100" r="100" transform="translate(1697.48 1306.5)" fill="#fff"></circle>
                        <path d="M1784.01,1406.5l-19.27-54.22,77.49,54.22-77.49,54.22Z" fill="#111"></path>
                    </g>
                </svg>

                <div class="pathway-block__col" bis_skin_checked="1">
                    <h2>+€‎70K</h2>
                    <h4>With +5 years experience</h4>
                    <h3>Types of Senior Roles</h3>
                    <div class="pathway-block__list" bis_skin_checked="1">
                        <div bis_skin_checked="1">Senior Software Developer</div>
                        <div bis_skin_checked="1">Software Developer Manager</div>
                        <div bis_skin_checked="1">Data Analyst</div>
                        <div bis_skin_checked="1">IT Architect</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="section-team home">
        <div class="padding-global">
            <div class="container-large">
                <div class="padding-section-large">
                    <div class="text-align-center">
                        <div data-w-id="012fc9d9-3663-3af2-52e1-b9de29d57475" style="opacity: 0; transform: translate3d(0px, 60px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" class="max-width-large align-center">
                            @* <div class="sub-heading">Team Members</div> *@
                            <div class="padding-bottom padding-xsmall"></div>
                            <h2>
                                Our Expert <span class="text-color-primary">Instructors</span>
                            </h2>
                            <div class="padding-bottom padding-small"></div>
                            <p>
                                They understand the journey of starting in IT from scratch. Through dedication and effort, they acquired the skills necessary to secure remarkable positions in the industry. Now, they're here to support you in achieving the same success.​​
                            </p>
                        </div>
                    </div>
                    <div class="padding-bottom padding-large"></div>
                    <div data-w-id="a5eebae4-a0af-b11b-e5d4-fb1cfc88ff62" style="opacity: 0; transform: translate3d(0px, 60px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" class="team-component">
                        <div class="team-list-wrapper w-dyn-list">
                            <div role="list" class="team-list w-dyn-items">
                                @if(Model.Instructors != null && Model.Instructors.Count() > 0)
                                {
                                    @foreach(var instructor in Model.Instructors)
                                    {
                                        <div role="listitem" class="team-item w-dyn-item">
                                            <a href="javascript:void(0);" class="team-card w-inline-block">
                                                <div class="team-top-wrapper">
                                                    <figure class="team-image-wrapper">
                                                        @if (string.IsNullOrEmpty(instructor.ProfileImageName) && string.IsNullOrEmpty(instructor.ProfileImagePathOrContainer))
                                                        {
                                                            <img src="/Assets/panel/assets/img/icon/user.png" loading="lazy" alt="Jacob Jones" class="team-image">
                                                        }
                                                        else
                                                        {
                                                            <img src="@Model.BaseUrl/@instructor.ProfileImagePathOrContainer/@instructor.ProfileImageName" loading="lazy" alt="Jacob Jones" class="team-image">
                                                            

                                                        }
                                                        
                                                    </figure>
                                                </div>
                                                <div class="team-content">
                                                    <div class="team-text-wrapper">
                                                        <h3 class="heading-style-h6">@instructor.FirstName @instructor.LastName</h3>
                                                        <div>@instructor.Profession</div>
                                                    </div>

                                                </div>
                                            </a>
                                        </div>

                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="padding-bottom padding-large"></div>
                    <div data-w-id="09ae8959-c07d-e57d-3d5a-43100f8ace04" style="opacity: 0; transform: translate3d(0px, 60px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" class="button-group is-center">
                        <a href="/instructors" class="button is-secondary w-button">See All Instructors</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-faq">
        <div class="padding-global">
            <div class="container-small">
                <div class="padding-section-large">
                    <div class="text-align-center">
                        <div data-w-id="d48ee730-c8a5-4405-d9ed-29b2beba958d" class="max-width-large align-center">
                            @* <div class="sub-heading">FAQ</div> *@
                            <div class="padding-bottom padding-xsmall"></div>
                            <h2>Frequently Asked Questions</h2>
                            <div class="padding-bottom padding-small"></div>
                            <p>
                                Find answers to common queries about our courses and programs
                                <span class="hide-mobile-landscape">
                                    <br />
                                </span>
                                courses and programs
                            </p>
                        </div>
                    </div>
                    <div class="padding-bottom padding-xxlarge"></div>
                    <div data-w-id="d48ee730-c8a5-4405-d9ed-29b2beba959a" class="faq-component">
                        <div class="w-layout-grid faq-list">
                            @if(Model.Faqs != null && Model.Faqs.Count() > 0)
                            {
                                @foreach(var faq in Model.Faqs)
                                {
                                    <div class="faq-accordion">
                                        <div class="faq-question">
                                            <div class="faq-text-wrapper">
                                                <div class="faq-icon-wrapper">
                                                    <div class="faq-icon is-left"></div>
                                                    <div class="faq-icon"></div>
                                                </div>
                                                <div class="text-weight-bold text-size-medium">@faq.Question</div>
                                            </div>
                                            <div class="faq-shape"></div>
                                        </div>
                                        <div class="faq-answer">
                                            <p>@faq.Answer</p>
                                            <div class="padding-bottom padding-small"></div>
                                        </div>
                                    </div>
                                }
                            }
                            
                        </div>
                    </div>
                    <div class="padding-bottom padding-xxlarge"></div>
                    <div data-w-id="d48ee730-c8a5-4405-d9ed-29b2beba95dd" class="faq-bottom-wrapper">
                        <div class="text-align-center">
                            <div class="max-width-medium align-center">
                                <h3 class="heading-style-h6">Still have questions?</h3>
                                <div class="padding-bottom padding-xsmall"></div>
                                @* <p class="text-size-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>*@
                                <div class="padding-bottom padding-small"></div> 
                            </div>
                            <div class="button-group is-center">
                                <a href="/contact" class="button w-button">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

@*     <section class="section-brand">
        <div class="padding-global" bis_skin_checked="1"><div class="container-large" bis_skin_checked="1"><div class="padding-section-small" bis_skin_checked="1"><div class="text-align-center" bis_skin_checked="1"><h2 class="heading-style-h6">Get in touch with the 250+ companies who Collaboration us</h2><div class="padding-bottom padding-large" bis_skin_checked="1"></div></div><div class="brand-component" bis_skin_checked="1"><img src="https://assets.website-files.com/63edcc04ea8777a0bc4eed69/63ede6f89029ff60370e012a_Logo-1.webp" loading="lazy" alt="Logo" data-w-id="eebefcd3-44a4-54f1-fad5-8b85f631e41f" class="brand-logo" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;"><img src="https://assets.website-files.com/63edcc04ea8777a0bc4eed69/63ede6f89029ff78e40e0126_Logo-2.webp" loading="lazy" alt="Logo" data-w-id="eebefcd3-44a4-54f1-fad5-8b85f631e420" class="brand-logo" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;"><img src="https://assets.website-files.com/63edcc04ea8777a0bc4eed69/63ede6f89029ff6e560e012c_Logo-3.webp" loading="lazy" alt="Logo" data-w-id="eebefcd3-44a4-54f1-fad5-8b85f631e421" class="brand-logo" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;"><img src="https://assets.website-files.com/63edcc04ea8777a0bc4eed69/63ede6f89029ff7b3a0e012e_Vertigo-Color%201.webp" loading="lazy" alt="Logo" data-w-id="eebefcd3-44a4-54f1-fad5-8b85f631e422" class="brand-logo" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;"><img src="https://assets.website-files.com/63edcc04ea8777a0bc4eed69/63ede6f89029ff28c60e0128_logo.webp" loading="lazy" alt="Logo" data-w-id="eebefcd3-44a4-54f1-fad5-8b85f631e423" class="brand-logo" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;"></div></div></div></div>
    </section> *@

    <section class="instructor__area-two">

        <div class="padding-section-large">
            <div class="container" bis_skin_checked="1">

                <div class="text-align-center">
                    <div data-w-id="d48ee730-c8a5-4405-d9ed-29b2beba958d" class="max-width-large align-center">
                        @* <div class="sub-heading">How We Start Journey</div> *@
                        <div class="padding-bottom padding-xsmall"></div>
                        <h2>Begin Your Teaching or Learning Journey Today!</h2>
                        <div class="padding-bottom padding-small"></div>
                        <p>
                            Join Our Platform for Seamless Team Collaboration,
                            <span class="hide-mobile-landscape">
                                <br />
                            </span>
                             Whether You're Applying to Teach or Enrolling as a Student.​
                        </p>
                    </div>
                </div>
                <div class="padding-bottom padding-xxlarge" bis_skin_checked="1"></div>
                <div class="instructor__item-wrap-two" bis_skin_checked="1">
                    <div class="row" bis_skin_checked="1">
                        <div class="col-xl-6" bis_skin_checked="1">
                            <div class="instructor__item-two tg-svg" bis_skin_checked="1">
                                <div class="instructor__thumb-two" bis_skin_checked="1">
                                    <img src="https://themegenix.com/demo/skillgro/assets/img/instructor/instructor_two01.png" alt="img">
                                    <div class="shape-one" bis_skin_checked="1">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="224" height="158" viewBox="0 0 224 158" fill="none" data-inject-url="https://themegenix.com/demo/skillgro/assets/img/instructor/instructor_shape01.svg" class="injectable">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M-44.3643 224.756C-12.2393 262.104 53.4544 248.637 109.818 221.047C165.437 193.82 219.176 148.021 222.855 93.9472C226.613 38.7315 180.039 6.40385 124.786 1.08905C73.1398 -3.87887 16.1752 23.3672 -19.5665 70.6284C-58.3852 121.958 -77.2268 186.551 -44.3643 224.756Z" fill="currentcolor"></path>
                                        </svg>
                                    </div>
                                    <div class="shape-two" bis_skin_checked="1">
                                        <span class="svg-icon" id="instructor-svg" data-svg-icon="assets/img/instructor/instructor_shape02.svg">
                                            <svg width="100%" height="100%" viewBox="0 0 48 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M42.3863 32.303C40.459 26.5102 36.4329 12.9132 35.7471 4.86755" stroke="#07a169" stroke-width="2" stroke-linejoin="round" style="stroke-dasharray: 29, 31; stroke-dashoffset: 0;"></path>
                                                <path d="M28.5958 42.9917C22.8296 40.9865 9.59837 35.8853 2.80371 31.5222" stroke="#07a169" stroke-width="2" stroke-linejoin="round" style="stroke-dasharray: 29, 31; stroke-dashoffset: 0;"></path>
                                                <path d="M34.3513 34.837C31.2834 32.212 24.4868 25.9248 21.8428 21.7755" stroke="#07a169" stroke-width="2" stroke-linejoin="round" style="stroke-dasharray: 19, 21; stroke-dashoffset: 0;"></path>
                                            </svg>
                                        </span>
                                    </div>
                                </div>
                                <div class="instructor__content-two" bis_skin_checked="1">
                                    <h3 class="title"><a href="/Auth/Instructor/Apply">Become an Instructor</a></h3>
                                    <p>
                                        If you're an experienced IT instructor, we invite you to join our team and share your expertise with us.​
                                    ​</p>
                                    <div class="tg-button-wrap" bis_skin_checked="1">
                                        <a href="/Auth/Instructor/Apply" class="btn arrow-btn">
                                            Apply Now
                                            <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg" data-inject-url="https://themegenix.com/demo/skillgro/assets/img/icons/right_arrow.svg" class="injectable">
                                                <path d="M1 7L15 7M15 7L9 1M15 7L9 13" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                                <path d="M1 7L15 7M15 7L9 1M15 7L9 13" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6" bis_skin_checked="1">
                            <div class="instructor__item-two tg-svg" bis_skin_checked="1">
                                <div class="instructor__thumb-two" bis_skin_checked="1">
                                    <img src="https://themegenix.com/demo/skillgro/assets/img/instructor/instructor_two02.png" alt="img">
                                    <div class="shape-one" bis_skin_checked="1">
                                        <svg width="224" height="158" viewBox="0 0 224 158" fill="none" xmlns="http://www.w3.org/2000/svg" data-inject-url="https://themegenix.com/demo/skillgro/assets/img/instructor/instructor_shape01.svg" class="injectable">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M-44.3643 224.756C-12.2393 262.104 53.4544 248.637 109.818 221.047C165.437 193.82 219.176 148.021 222.855 93.9472C226.613 38.7315 180.039 6.40385 124.786 1.08905C73.1398 -3.87887 16.1752 23.3672 -19.5665 70.6284C-58.3852 121.958 -77.2268 186.551 -44.3643 224.756Z" fill="currentcolor"></path>
                                        </svg>
                                    </div>
                                    <div class="shape-two" bis_skin_checked="1">
                                        <span class="svg-icon" id="instructor-svg-two" data-svg-icon="assets/img/instructor/instructor_shape02.svg">
                                            <svg width="100%" height="100%" viewBox="0 0 48 55" fill="currentcolor" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M42.3863 32.303C40.459 26.5102 36.4329 12.9132 35.7471 4.86755" stroke="#07a169" stroke-width="2" stroke-linejoin="round" style="stroke-dasharray: 29, 31; stroke-dashoffset: 0;"></path>
                                                <path d="M28.5958 42.9917C22.8296 40.9865 9.59837 35.8853 2.80371 31.5222" stroke="#07a169" stroke-width="2" stroke-linejoin="round" style="stroke-dasharray: 29, 31; stroke-dashoffset: 0;"></path>
                                                <path d="M34.3513 34.837C31.2834 32.212 24.4868 25.9248 21.8428 21.7755" stroke="#07a169" stroke-width="2" stroke-linejoin="round" style="stroke-dasharray: 19, 21; stroke-dashoffset: 0;"></path>
                                            </svg>
                                        </span>
                                    </div>
                                </div>
                                <div class="instructor__content-two" bis_skin_checked="1">
                                    <h3 class="title"><a href="/Auth/Student/Apply">Become a Student</a></h3>
                                    <p>Join our worldwide learning community as we dive into online education together.</p>
                                    <div class="tg-button-wrap" bis_skin_checked="1">
                                        <a href="/Auth/Student/Apply" class="btn arrow-btn">
                                            Apply Now
                                            <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg" data-inject-url="https://themegenix.com/demo/skillgro/assets/img/icons/right_arrow.svg" class="injectable">
                                                <path d="M1 7L15 7M15 7L9 1M15 7L9 13" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                                <path d="M1 7L15 7M15 7L9 1M15 7L9 13" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-cta">
        <div class="padding-global">
            <div class="container-small">
                <div class="padding-section-large">
                    <div data-w-id="370a17b2-f508-83c7-8d0e-450a5bdf48b3" class="cta-component">
                        <h2>Subscribe To Our Newsletter</h2>
                        <div class="padding-bottom padding-small"></div>
                        <p>
                            Join our newsletter for the latest course updates,
                            <span class="hide-mobile-landscape">
                                <br />
                            </span>
                            exclusive discounts, and more!​
                        </p>
                        <div class="padding-bottom padding-small"></div>
                        <div class="form-block w-form">
                            <form id="Newsletter-Form" name="wf-form-Newsletter-Form" data-name="Newsletter Form" class="form" data-wf-page-id="63edcc04ea877745424eed6d" data-wf-element-id="370a17b2-f508-83c7-8d0e-450a5bdf48be">
                                <input class="form-input w-input" maxlength="256" name="Newsletter-Form" data-name="Newsletter-Form" placeholder="Enter your email" type="email" id="Newsletter-Form-Input" required="" />
                                <input type="submit" data-wait="Please wait..." class="button w-button" value="Get Started" />
                            </form>
                            <div class="success-message w-form-done">
                                <div class="success-text">Thank you! Your submission has been received!</div>
                            </div>
                            <div class="error-message w-form-fail">
                                <div class="error-text">Oops! Something went wrong while submitting the form.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img src="https://assets.website-files.com/63edcc04ea8777a0bc4eed69/63f2e33385872ab1e69eae6d_Frame.webp" loading="lazy" width="182" alt="Icon" class="rotate-shape" />
        <img src="https://assets.website-files.com/63edcc04ea8777a0bc4eed69/63f2f987b68fbb46cfa84263_Vector.webp" loading="lazy" width="24.5" alt="Icon" class="rotate-shape top-right" />
        <img src="https://assets.website-files.com/63edcc04ea8777a0bc4eed69/63f2f9872d342cefb811ddb4_Vector-2.webp" loading="lazy" width="27.5" alt="Icon" class="rotate-shape bottom-center" />
        <img src="https://assets.website-files.com/63edcc04ea8777a0bc4eed69/63f2f987f9b3c88209398bc9_Vector-1.webp" loading="lazy" width="27.5" alt="Icon" class="rotate-shape top-left" />
    </section>

</main>