@using CodinaxProjectMvc.Constants;
@using CodinaxProjectMvc.DataAccess.Abstract.Repositories;
@using CodinaxProjectMvc.DataAccess.Models.Identity;
<!DOCTYPE html>
<html lang="en">

@{
    var isStudentsPage = ViewContext.RouteData.Values["controller"]?.ToString()?.ToLower() == "students";
    var isCategoriesPage = ViewContext.RouteData.Values["controller"]?.ToString()?.ToLower() == "category";
    var isInstructorsPage = ViewContext.RouteData.Values["controller"]?.ToString()?.ToLower() == "instructors";
    var isCoursesPage = ViewContext.RouteData.Values["controller"]?.ToString()?.ToLower() == "courses";
    var isFaqPage = ViewContext.RouteData.Values["controller"]?.ToString()?.ToLower() == "faq";
    var isAboutPage = ViewContext.RouteData.Values["controller"]?.ToString()?.ToLower() == "about";
    var isFeaturePage = ViewContext.RouteData.Values["controller"]?.ToString()?.ToLower() == "feature";
    var isTemplatePage = ViewContext.RouteData.Values["controller"]?.ToString()?.ToLower() == "template";
    var isSubscribersPage = ViewContext.RouteData.Values["controller"]?.ToString()?.ToLower() == "subscribers";
    var isCorporatesPage = ViewContext.RouteData.Values["controller"]?.ToString()?.ToLower() == "corporates";
}

@inject IReadRepository<AppUser> _userReadRepository
@inject IConfiguration _configuration;

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Codinax Instructor Panel</title>


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/Assets/panel/assets/css/bootstrap.min.css">

    <!-- Add CSS -->
    <link rel="stylesheet" href="/Assets/panel/assets/css/table.css" />

    <!-- Main CSS -->
    <link rel="stylesheet" href="/Assets/panel/assets/css/style.css" />

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="/Assets/panel/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/Assets/panel/assets/plugins/fontawesome/css/all.min.css">

    <!-- Feather CSS -->
    <link rel="stylesheet" href="/Assets/panel/assets/css/feather.css">


    <!-- Loader CSS -->
    <link rel="stylesheet" href="/Assets/panel/assets/css/loader.css">

    <!-- Toastr CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="icon" type="image/x-icon" href="/Assets/imgs/logos/X.png">

    <meta name="author" content="Farhad Jahangirov">

</head>

<body>

    <div class="container_view">
        <!-- Side Bar -->
        <div class="sidemenu_position">
            <div class="active-overlay pointer" onclick="toggleMenu()"></div>

            <div class="sidemenu_view">
                <div class="sidemenu_bar">
                    <a class="sidemenu_logo">
                        <img src="~/Assets/imgs/logos/CODINAX ( white ).png" width="180">
                    </a>

                    <div class="close pointer">
                        <svg-icon height="20" name="close" width="20">
                            <svg class="align-middle" width="20" height="20">
                                <use xlink:href="#close"></use>
                            </svg>
                        </svg-icon>
                    </div>

                    <div class="sidemenu_user">
                        <div class="sidemenu_profile">
                            <div _ngcontent-vdy-c47="" class="avatar-container" style="width: 120px; height: 120px;" bis_skin_checked="1">
                                <div _ngcontent-vdy-c47="" class="avatar-content" style="text-align: center; border-radius: 100%; text-transform: uppercase; color: rgb(255, 255, 255); background-color: rgb(127, 140, 141); font: 40px / 120px Helvetica, Arial, sans-serif;" bis_skin_checked="1">
                                    @(
                                        _userReadRepository.Table.Single(x => x.Email ==
                                        User.Identity.Name).FirstName[0].ToString()
                                        )@(
                                       _userReadRepository.Table.Single(x => x.Email ==
                                       User.Identity.Name).LastName[0].ToString()
                                       )
                                </div>
                            </div>
                        </div>

                        <div class="edit_profile_icon" id="editProfileIcon">
                            <svg-icon height="20px" id="avatar-icon-popOver" name="ns-edit-icon" width="20px">
                                <i class="fa-solid fa-pen-to-square align-middle"></i>
                            </svg-icon>
                        </div>

                        <div id="avatar-container-popover" class="avatar-pop-over">
                            <div class="avatar-holder">
                                <div class="avatar-user">
                                    <!---->
                                    <div class="avatar-container" style="width: 140px; height: 140px;">

                                        <div class="avatar-content" style="text-align: center; border-radius: 100%; text-transform: uppercase; color: rgb(255, 255, 255); background-color: rgb(127, 140, 141); font: 46px / 140px Helvetica, Arial, sans-serif;">
                                            @(
                                                _userReadRepository.Table.Single(x => x.Email ==
                                                User.Identity.Name).FirstName[0].ToString()
                                                )@(
                                               _userReadRepository.Table.Single(x => x.Email ==
                                               User.Identity.Name).LastName[0].ToString()
                                               )
                                        </div>

                                    </div>
                                    <!---->
                                </div>
                            </div>
                            <div class="buttons-avatar-container">
                                <div class="buttons-avatar-wrapper">
                                    <a class="button-avatar-action action--change" href="/Admin/Account/Profile">
                                        <i class="fa-solid fa-pen-to-square align-middle"></i>

                                        Edit profile
                                    </a>
                                    <!---->
                                </div>
                            </div>
                        </div>

                        <div class="sidemenu_profile_info">
                            Hi @(
                             _userReadRepository.Table.Single(x => x.Email == User.Identity.Name).FirstName)
                        </div>
                    </div>

                    <ul class="sidemenu_items">
                        <li>
                            <a class="@(isInstructorsPage ? "sidemenu_link_active" : "") sidemenu_link" href="/Admin/Instructors/Index">
                                <svg-icon height="20px" width="20px">
                                    <i class="fa-solid fa-person-chalkboard align-middle"></i>
                                </svg-icon>
                                <span>Instructors</span>
                            </a>
                        </li>
                        <li>
                            <a class="@(isStudentsPage ? "sidemenu_link_active" : "") sidemenu_link" href="/Admin/Students/Index">
                                <svg-icon height="20px" width="20px">
                                    <i class="fa-solid fa-graduation-cap align-middle"></i>
                                </svg-icon>
                                <span>Students</span>
                            </a>
                        </li>
                        <li>
                            <a class="@(isCoursesPage ? "sidemenu_link_active" : "") sidemenu_link" href="/Admin/Courses/Index">
                                <svg-icon height="20px" width="20px">
                                    <i class="fa-solid fa-layer-group align-middle"></i>
                                </svg-icon>
                                <span>Courses</span>
                            </a>
                        </li>
                        <li>
                            <a class="@(isCategoriesPage ? "sidemenu_link_active" : "") sidemenu_link" href="/Admin/Category/Index">
                                <svg-icon height="20px" width="20px">
                                    <i class="fa-solid fa-list align-middle"></i>
                                </svg-icon>
                                <span>Categories</span>
                            </a>
                        </li>
                        <li>
                            <a class="@(isFaqPage ? "sidemenu_link_active" : "") sidemenu_link" href="/Admin/Faq/Index">
                                <svg-icon height="20px" width="20px">
                                    <i class="fa-solid fa-circle-question"></i>
                                </svg-icon>
                                <span>Faqs</span>
                            </a>
                        </li>
                        <li>
                            <a class="@(isAboutPage ? "sidemenu_link_active" : "") sidemenu_link" href="/Admin/About/Index">
                                <svg-icon height="20px" width="20px">
                                    <i class="fa-solid fa-eject"></i>
                                </svg-icon>
                                <span>About</span>
                            </a>
                        </li>
                        <li>
                            <a class="@(isFeaturePage ? "sidemenu_link_active" : "") sidemenu_link" href="/Admin/Feature/Index">
                                <svg-icon height="20px" width="20px">
                                    <i class="fa-solid fa-book-open"></i>
                                </svg-icon>
                                <span>Features</span>
                            </a>
                        </li>
                        <li>
                            <a class="@(isTemplatePage  ? "sidemenu_link_active" : "") sidemenu_link" href="/Admin/Template/Index">
                                <svg-icon height="20px" width="20px">
                                    <i class="fa-solid fa-object-group"></i>
                                </svg-icon>
                                <span>Templates</span>
                            </a>
                        </li>
                        <li>
                            <a class="@(isSubscribersPage  ? "sidemenu_link_active" : "") sidemenu_link" href="/Admin/Subscribers/Index">
                                <svg-icon height="20px" width="20px">
                                    <i class="fa-solid fa-users"></i>
                                </svg-icon>
                                <span>Subscribers</span>
                            </a>
                        </li>
                        <li>
                            <a class="@(isCorporatesPage  ? "sidemenu_link_active" : "") sidemenu_link" href="/Admin/Corporates/Index">
                                <svg-icon height="20px" width="20px">
                                    <i class="fa-solid fa-people-group"></i>
                                </svg-icon>
                                <span>Corporates</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

    <main class="main_container">
        <header class="header_container">
            <div class="header_left">
                <div class="header_search_container">
                    <input class="header_search_input" type="text" placeholder="Search" oninput="searchContent(event)" />
                    <div class="header_search_icon">
                        <i class="fa-solid fa-magnifying-glass align-middle"></i>
                    </div>
                </div>
            </div>
            <div class="pointer burger-icon ml-2" onclick="toggleMenu()">
                <i class="fa-solid fa-bars-staggered align-middle"></i>
            </div>
            <div class="header_right">
                <div class="popup-wrapper">
                    <button class="ml-2 settings-button">
                        <i class="fa-solid fa-gear align-middle"></i>
                    </button>

                    <div class="dropdown-content day-switch-dropdown">
                        <div class="dropdown-holder">
                            <div class="theme-change">
                                <div class="item-settings-holder">
                                    <div class="Header-State" data-theme-state="light">
                                        <i class="fa-solid fa-moon"></i>
                                        <label class="Header-Switch">
                                            <input type="checkbox" class="Checkbox-Toggle" data-theme-state="light">
                                            <span class="Switch-Slider Switch-Slider-round"></span>
                                        </label>
                                        <i class="fa-solid fa-sun"></i>
                                    </div>
                                    <span>Theme</span>
                                </div>
                            </div>

                            <div class="theme-change" style="margin-top: 20px">
                                <div class="item-settings-holder">
                                    <a class="Header-State" style="margin: 0" href="/auth/logout">
                                        <div  class="Header-Switch" style="width: 0px; margin: 0;width: fit-content">
                                            <i class="fa-solid fa-right-from-bracket"></i>
                                        </div>
                                    </a>
                                    <span>Log Out</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="main_content">
            <div class="main_wrapper">
                @RenderBody()
            </div>
        </div>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js" integrity="sha512-+k1pnlgt4F1H8L7t3z95o3/KO+o78INEcXTbnoJQ/F2VqDVhWoaiVml/OEHv9HsVgxUaVW+IbiZPUJQfF/YxZw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Bootstrap Core JS -->
    <script src="/Assets/panel/assets/js/bootstrap.bundle.min.js"></script>


    <!-- Ckeditor JS -->
    <script src="/Assets/panel/assets/js/ckeditor.js"></script>

    <!-- Bootstrap Tagsinput JS -->
    <script src="/Assets/panel/assets/plugins/bootstrap-tagsinput/js/bootstrap-tagsinput.js"></script>


    <!-- Toastr JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>




    <script>
        function activateLoading() {
            const loader = document.querySelector('.loader-container');
            loader.classList.add('active');
        }


        function toggleMenu() {
            const sidemenu = document.querySelector('.sidemenu_position');
            if (sidemenu.classList.contains('active')) {
                sidemenu.classList.remove('active');
            }
            else {
                sidemenu.classList.add('active');

            }
        }

        document.addEventListener('DOMContentLoaded', function () {

            const theme = localStorage.getItem('theme-state');

            $('.settings-button').click(() => {
                if ($('.popup-wrapper .dropdown-content').hasClass('active')) {
                    $('.popup-wrapper .dropdown-content').removeClass('active')
                }
                else {
                    $('.popup-wrapper .dropdown-content').addClass('active')
                }
            });


            if (theme === null) {
                $('body').addClass('Light-Theme');
                $('body').data('theme-state', 'light').attr('data-theme-state', 'light');

                $('.popup-wrapper .Header-State').data('theme-state', 'light').attr('data-theme-state', 'light');
                $('.popup-wrapper .Checkbox-Toggle').data('theme-state', 'light').attr('data-theme-state', 'light');

            }
            else if (theme === 'light') {
                $('.popup-wrapper .Header-State').data('theme-state', 'light').attr('data-theme-state', 'light');
                $('.popup-wrapper .Checkbox-Toggle').data('theme-state', 'light').attr('data-theme-state', 'light');

                $('body').removeClass('Dark-Theme');
                $('body').addClass('Light-Theme');

                $('body').data('theme-state', 'light').attr('data-theme-state', 'light');

            }
            else if (theme === 'dark') {


                $('.popup-wrapper .Header-State').data('theme-state', 'dark').attr('data-theme-state', 'dark');
                $('.popup-wrapper .Checkbox-Toggle').data('theme-state', 'dark').attr('data-theme-state', 'dark');

                $('body').removeClass('Light-Theme');
                $('body').addClass('Dark-Theme');

                $('body').data('theme-state', 'dark').attr('data-theme-state', 'dark');

            }


            $('.popup-wrapper .Checkbox-Toggle').click(() => {
                console.log($('.Header-State').data('theme-state'));

                if ($('.popup-wrapper .Header-State').data('theme-state') === 'light') {
                    $('.popup-wrapper .Header-State').data('theme-state', 'dark').attr('data-theme-state', 'dark');
                    $('.popup-wrapper .Checkbox-Toggle').data('theme-state', 'dark').attr('data-theme-state', 'dark');

                    $('body').removeClass('Light-Theme');
                    $('body').addClass('Dark-Theme');

                    $('body').data('theme-state', 'dark').attr('data-theme-state', 'dark');

                    localStorage.setItem('theme-state', 'dark');
                }
                else {
                    $('.popup-wrapper .Header-State').data('theme-state', 'light').attr('data-theme-state', 'light');
                    $('.popup-wrapper .Checkbox-Toggle').data('theme-state', 'light').attr('data-theme-state', 'light');

                    $('body').removeClass('Dark-Theme');
                    $('body').addClass('Light-Theme');

                    $('body').data('theme-state', 'light').attr('data-theme-state', 'light');

                    localStorage.setItem('theme-state', 'light');
                }
            })


            $('#editProfileIcon').click(() => {
                if ($('#avatar-container-popover').hasClass('active')) {
                    $('#avatar-container-popover').removeClass('active');
                }
                else {
                    $('#avatar-container-popover').addClass('active');
                }
            });

        });

        function searchContent(event) {
            $.ajax({
                type: 'POST',
                url: `/admin/search?content=${event.target.value}`,
                success: (response) => {
                    $('.main_content .main_wrapper').html(response);
                },
                error: (data) => {
                    console.log(data);
                }
            })
        }
    </script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>