@model AboutVm
@inject LanguageService _resource

<main class="main-wrapper">
    <section class="section-about-header">
        <div class="padding-global">
            <div class="container-large">
                <div class="padding-section-large">
                    <div data-w-id="9a0d3991-6bbe-f959-c9e2-9df2d2d407a2" class="about-header-component">
                        <div class="text-align-center">
                            <div data-w-id="6289ce2b-69e6-b3ad-1a0c-b3e77f8cdf94" style="-webkit-transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="max-width-xlarge align-center">
                                <div class="sub-heading">@_resource.GetLocalizedHTML("About Us")</div>
                                <div class="padding-bottom padding-xsmall"></div>
                                <h1>
                                    @_resource.GetLocalizedHTML("Defining your future Starts With growing your IT skills")​
                                </h1>
                                <div class="padding-bottom padding-small"></div>
                                <p>
                                    @_resource.GetLocalizedHTML("We are more than a team—We are a family. Together, we foster a culture of continuous learning and innovation, empowering individuals to thrive in the ever-evolving tech landscape.​")
                                </p>
                                <div class="padding-bottom padding-medium"></div>
                                <a href="/courses" class="button w-button">@_resource.GetLocalizedHTML("Find Courses")</a>
                            </div>
                        </div>
                        <img src="https://assets.website-files.com/63edcc04ea8777a0bc4eed69/63f8244945185576c2b7484a_Vector.webp" loading="lazy" style="opacity:0" width="40" alt="a group of black and green lights" data-w-id="05eef203-42de-9edd-2139-f10324cf5ebd" class="illustration about-top-left" />

                            @if (ViewData["Culture"].ToString() == "ru-RU")
                            {
                                <img src="/Assets/imgs/cards/Add a heading (4).png" loading="lazy" alt="Video Courses" width="222" class="illustration about-top-right" />
                              
                            }
                            else if (ViewData["Culture"].ToString() == "tr-TR")
                            {
                                <img src="/Assets/imgs/cards/Add a heading (5).png" loading="lazy" alt="Video Courses" width="222" class="illustration about-top-right" />
                            }
                            else
                            {
                                <img src="/Assets/imgs/cards/Add a heading.png" loading="lazy" alt="Video Courses" width="222" class="illustration about-top-right" />
                            }
                        

                        <img src="https://assets.website-files.com/63edcc04ea8777a0bc4eed69/63f8244945185576c2b7484a_Vector.webp" loading="lazy" width="40" style="opacity:0" alt="a group of black and green lights" data-w-id="d64c590f-9c9e-21d3-3351-1e144d4491a3" class="illustration about-bottom-right" />

                            @if (ViewData["Culture"].ToString() == "ru-RU")
                            {
                               <img src="/Assets/imgs/cards/Add a subheading (4).png" loading="lazy" alt="Student Success" width="331" sizes="(max-width: 479px) 45vw, (max-width: 991px) 36vw, 331px" class="illustration about-bottom-left" />
                              
                            }
                            else if (ViewData["Culture"].ToString() == "tr-TR")
                            {
                                <img src="/Assets/imgs/cards/Add a subheading (5).png" loading="lazy" alt="Student Success" width="331" sizes="(max-width: 479px) 45vw, (max-width: 991px) 36vw, 331px" class="illustration about-bottom-left" />
                            }
                            else
                            {
                                <img src="/Assets/imgs/cards/Add a subheading (1).png" loading="lazy" alt="Student Success" width="331" sizes="(max-width: 479px) 45vw, (max-width: 991px) 36vw, 331px" class="illustration about-bottom-left" />
                            }

                        
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="section-divider is-bottom"></div>

    <section class="section-achievement" style="display: none;">
        <div class="padding-global">
            <div class="container-large">
                <div class="padding-section-large">
                    <div class="text-align-center">
                        <div data-w-id="2837b5c7-ed75-f54d-9ac2-0fa892a36b8d" style="-webkit-transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="max-width-large align-center">
                            <h2>Here are a few numbers that we are proud of</h2>
                        </div>
                    </div>
                    <div class="padding-bottom padding-xxlarge"></div>
                    <div class="achievement-component">
                        <div id="w-node-_2accd205-be54-23f6-1daf-096b54205265-52eedd48" data-w-id="2accd205-be54-23f6-1daf-096b54205265" style="-webkit-transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="achievement-content-wrapper">
                            <h3>5600,0+</h3>
                            <div class="padding-bottom padding-xxsmall"></div>
                            <div class="text-weight-bold text-size-medium">Students</div>
                            <div class="padding-bottom padding-xsmall"></div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                        </div>
                        <div id="w-node-_6330c7f3-4fa8-fc77-56f9-c72186d8a042-52eedd48" data-w-id="6330c7f3-4fa8-fc77-56f9-c72186d8a042" style="-webkit-transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="achievement-content-wrapper">
                            <h3>10000+</h3>
                            <div class="padding-bottom padding-xxsmall"></div>
                            <div class="text-weight-bold text-size-medium">Student Success</div>
                            <div class="padding-bottom padding-xsmall"></div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                        </div>
                        <div id="w-node-_21aa39d9-9cb2-c69f-ef4f-7d51b04616dc-52eedd48" data-w-id="21aa39d9-9cb2-c69f-ef4f-7d51b04616dc" style="-webkit-transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="achievement-content-wrapper">
                            <h3>3000+</h3>
                            <div class="padding-bottom padding-xxsmall"></div>
                            <div class="text-weight-bold text-size-medium">Video Courses</div>
                            <div class="padding-bottom padding-xsmall"></div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-why-choose-us">
        <div class="padding-global">
            <div class="container-large">
                <div class="padding-section-large">
                    <div class="w-layout-grid why-choose-us-component">
                        <div class="why-choose-us-image-wrapper">
                            <img class="why-choose-us-image" src="https://assets.website-files.com/63edcc04ea8777a0bc4eed69/63ff15aa57c2b77c0678476e_Image%20right%20(3).webp" width="624.5" alt="a group of people sitting at a table" style="-webkit-transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" sizes="(max-width: 479px) 100vw, (max-width: 767px) 90vw, (max-width: 991px) 81vw, 43vw" data-w-id="bc2b9f75-61a0-eba1-427a-48ad6239191b" />
                        </div>
                        <div data-w-id="bc2b9f75-61a0-eba1-427a-48ad62391903" style="-webkit-transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="why-choose-us-content">
                            <div class="sub-heading">@_resource.GetLocalizedHTML("Who We Are")</div>
                            <div class="padding-bottom padding-small"></div>
                            <h2>@_resource.GetLocalizedHTML("Our online learning platform Top Skills You Need To Know")</h2>
                            <div class="padding-bottom padding-small"></div>
                            <p class="text-size-regular">
                                @_resource.GetLocalizedHTML("We are more than an online IT course provider; We are a vibrant community dedicated to unlocking your potential in the tech world. Through interactive online classes, we spark innovation, encourage collaboration, and ignite a love for learning. Together, let's redefine what's possible in Tech.")
                            </p>
                            <div class="padding-bottom padding-large"></div>
                            <div class="why-choose-us-list-wrapper">
                                @if (Model.Features != null && Model.Features.Count() > 0)
                                {
                                    @foreach (var feature in Model.Features)
                                    {
                                        <div class="why-choose-us-item">
                                            <div class="why-choose-us-item-icon-wrapper" style="width: 40px;">
                                                <img src="@Model.BaseUrl/@feature.IconPathOrContainer/@feature.IconName" loading="lazy" width="16" alt="Icon" style="width: 100%;
    display: inline-block;
    height: 40px;
    object-fit: cover;"/>
                                            </div>
                                            @if(ViewData["Culture"].ToString() == "ru-RU" && !string.IsNullOrEmpty(feature.TitleRu))
                                            {
                                                <p>@feature.TitleRu</p>
                                            }
                                            else if(ViewData["Culture"].ToString() == "tr-TR" && !string.IsNullOrEmpty(feature.TitleTr))
                                            {
                                                <p>@feature.TitleTr</p>
                                            }
                                            else
                                            {
                                                <p>@feature.Title</p>
                                            }
                                        </div>

                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @await Component.InvokeAsync("About")

    @await Component.InvokeAsync("ApplySteps")

    @await Component.InvokeAsync("Faq")

    @await Component.InvokeAsync("Subscribe")
</main>