@model InstructorsVm 

<main class="main-wrapper">
    <section class="section-hero">
        <div class="padding-global">
            <div class="container-large">
                <div class="padding-section-large" style="padding-bottom: 2rem">
                    <div class="hero-component">
                        <div class="text-align-center padding-section-small">
                            <div data-w-id="d48ee730-c8a5-4405-d9ed-29b2beba958d" class="max-width-large align-center">
                                @* <div class="sub-heading">Team Members</div> *@
                            <div class="padding-bottom padding-xsmall"></div>
                            <h2>
                                Our Expert <span class="text-color-primary">Instructors</span>
                            </h2>
                            <div class="padding-bottom padding-small"></div>
                            <p>
                               Join Our Platform for Seamless Team Collaboration,
Whether You're Applying to Teach or Enrolling as a Student.​
                            </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="shape"></div>
        <div class="shape is-right"></div>
        <div class="shape is-center"></div>
    </section>
    <section class="instructor__area-two">

        <div class="padding-section-small" style="padding-top: 2rem">
            <div class="container" bis_skin_checked="1">

               
                <div class="instructor__item-wrap-two" bis_skin_checked="1">
                    <div class="row justify-content-center align-center align-items-center" bis_skin_checked="1">
                        <div class="col-xl-8 " bis_skin_checked="1">
                            <div class="instructor__item-two tg-svg" bis_skin_checked="1">
                                <div class="instructor__thumb-two" bis_skin_checked="1">
                                    <img src="https://themegenix.com/demo/skillgro/assets/img/instructor/instructor_two01.png" alt="img">
                                    <div class="shape-one" bis_skin_checked="1">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="224" height="158" viewBox="0 0 224 158" fill="none" data-inject-url="https://themegenix.com/demo/skillgro/assets/img/instructor/instructor_shape01.svg" class="injectable">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M-44.3643 224.756C-12.2393 262.104 53.4544 248.637 109.818 221.047C165.437 193.82 219.176 148.021 222.855 93.9472C226.613 38.7315 180.039 6.40385 124.786 1.08905C73.1398 -3.87887 16.1752 23.3672 -19.5665 70.6284C-58.3852 121.958 -77.2268 186.551 -44.3643 224.756Z" fill="currentcolor"></path>
                                        </svg>
                                    </div>
                                    <div class="shape-two" bis_skin_checked="1">
                                        <span class="svg-icon" id="instructor-svg" data-svg-icon="assets/img/instructor/instructor_shape02.svg">
                                            <svg width="100%" height="100%" viewBox="0 0 48 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M42.3863 32.303C40.459 26.5102 36.4329 12.9132 35.7471 4.86755" stroke="#07a169" stroke-width="2" stroke-linejoin="round" style="stroke-dasharray: 29, 31; stroke-dashoffset: 0;"></path>
                                                <path d="M28.5958 42.9917C22.8296 40.9865 9.59837 35.8853 2.80371 31.5222" stroke="#07a169" stroke-width="2" stroke-linejoin="round" style="stroke-dasharray: 29, 31; stroke-dashoffset: 0;"></path>
                                                <path d="M34.3513 34.837C31.2834 32.212 24.4868 25.9248 21.8428 21.7755" stroke="#07a169" stroke-width="2" stroke-linejoin="round" style="stroke-dasharray: 19, 21; stroke-dashoffset: 0;"></path>
                                            </svg>
                                        </span>
                                    </div>
                                </div>
                                <div class="instructor__content-two" bis_skin_checked="1">
                                    <h3 class="title"><a href="/auth/instructor/apply">Become an Instructor</a></h3>
                                    <p>If you're an experienced IT instructor, we invite you to join our team and share your expertise with us.​​</p>
                                    <div class="tg-button-wrap" bis_skin_checked="1">
                                        <a href="/auth/instructor/apply" class="btn arrow-btn">
                                            Apply Now
                                            <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg" data-inject-url="https://themegenix.com/demo/skillgro/assets/img/icons/right_arrow.svg" class="injectable">
                                                <path d="M1 7L15 7M15 7L9 1M15 7L9 13" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                                <path d="M1 7L15 7M15 7L9 1M15 7L9 13" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-team">
        <div class="padding-global">
            <div class="container-large">
                <div class="padding-section-large">
                   
                    <div class="padding-bottom padding-large"></div>
                    <div data-w-id="0c7277bc-3892-c6c7-c5b0-30f08b360a6f" style="-webkit-transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="team-component">
                        <div class="team-list-wrapper w-dyn-list">
                            <div role="list" class="team-list w-dyn-items">
                                @if(Model.Instructors != null && Model.Instructors.Count() > 0)
                                {
                                    @foreach (var instructor in Model.Instructors)
                                    {
                                        <div role="listitem" class="team-item w-dyn-item">
                                            <a href="javascript:void(0);" class="team-card w-inline-block">
                                                <div class="team-top-wrapper">
                                                    <figure class="team-image-wrapper">
                                                        @if (string.IsNullOrEmpty(instructor.ProfileImageName) && string.IsNullOrEmpty(instructor.ProfileImagePathOrContainer))
                                                        {
                                                            <img src="/Assets/panel/assets/img/icon/user.png" loading="lazy" alt="Theresa Webb" class="team-image" />
                                                        }
                                                        else
                                                        {
                                                            <img src="@Model.BaseUrl/@instructor.ProfileImagePathOrContainer/@instructor.ProfileImageName" loading="lazy" alt="Theresa Webb" class="team-image" />
                                                        }

                                                    </figure>
                                                </div>
                                                <div class="team-content">
                                                    <div class="team-text-wrapper">
                                                        <h3 class="heading-style-h6">@instructor.FirstName @instructor.LastName</h3>
                                                        <div>@instructor.Profession</div>
                                                        <p>@instructor.Description</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                    }
                                }
                               

                            </div>
                            <div role="navigation" aria-label="List" class="w-pagination-wrapper"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-faq">
        <div class="padding-global">
            <div class="container-small">
                <div class="padding-section-large">
                    <div class="text-align-center">
                        <div data-w-id="d48ee730-c8a5-4405-d9ed-29b2beba958d" class="max-width-large align-center">
                            @* <div class="sub-heading">FAQ</div> *@
                            <div class="padding-bottom padding-xsmall"></div>
                            <h2>Frequently Asked Questions</h2>
                            <div class="padding-bottom padding-small"></div>
                            <p>
                                Find answers to common queries about our courses and programs
                                <span class="hide-mobile-landscape">
                                    <br />
                                </span>
                                courses and programs
                            </p>
                        </div>
                    </div>
                    <div class="padding-bottom padding-xxlarge"></div>
                    <div data-w-id="d48ee730-c8a5-4405-d9ed-29b2beba959a" class="faq-component">
                        <div class="w-layout-grid faq-list">
                            @if (Model.Faqs != null && Model.Faqs.Count() > 0)
                            {
                                @foreach (var faq in Model.Faqs)
                                {
                                    <div class="faq-accordion">
                                        <div class="faq-question">
                                            <div class="faq-text-wrapper">
                                                <div class="faq-icon-wrapper">
                                                    <div class="faq-icon is-left"></div>
                                                    <div class="faq-icon"></div>
                                                </div>
                                                <div class="text-weight-bold text-size-medium">@faq.Question</div>
                                            </div>
                                            <div class="faq-shape"></div>
                                        </div>
                                        <div class="faq-answer">
                                            <p>@faq.Answer</p>
                                            <div class="padding-bottom padding-small"></div>
                                        </div>
                                    </div>
                                }
                            }

                        </div>
                    </div>
                    <div class="padding-bottom padding-xxlarge"></div>
                    <div data-w-id="d48ee730-c8a5-4405-d9ed-29b2beba95dd" class="faq-bottom-wrapper">
                        <div class="text-align-center">
                            <div class="max-width-medium align-center">
                                <h3 class="heading-style-h6">Still have questions?</h3>
                                <div class="padding-bottom padding-xsmall"></div>
                                @* <p class="text-size-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>*@
                                <div class="padding-bottom padding-small"></div>
                            </div>
                            <div class="button-group is-center">
                                <a href="/contact" class="button w-button">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
      <section class="section-cta">
        <div class="padding-global">
            <div class="container-small">
                <div class="padding-section-large">
                    <div data-w-id="370a17b2-f508-83c7-8d0e-450a5bdf48b3" class="cta-component">
                        <h2>Subscribe To Our Newsletter</h2>
                        <div class="padding-bottom padding-small"></div>
                        <p>
                            Join our newsletter for the latest course updates,
                            <span class="hide-mobile-landscape">
                                <br />
                            </span>
                            exclusive discounts, and more!​
                        </p>
                        <div class="padding-bottom padding-small"></div>
                        <div class="form-block w-form">
                            <form id="Newsletter-Form" name="wf-form-Newsletter-Form" data-name="Newsletter Form" class="form" data-wf-page-id="63edcc04ea877745424eed6d" data-wf-element-id="370a17b2-f508-83c7-8d0e-450a5bdf48be">
                                <input class="form-input w-input" maxlength="256" name="Newsletter-Form" data-name="Newsletter-Form" placeholder="Enter your email" type="email" id="Newsletter-Form-Input" required="" />
                                <input type="submit" data-wait="Please wait..." class="button w-button" value="Get Started" />
                            </form>
                            <div class="success-message w-form-done">
                                <div class="success-text">Thank you! Your submission has been received!</div>
                            </div>
                            <div class="error-message w-form-fail">
                                <div class="error-text">Oops! Something went wrong while submitting the form.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img src="https://assets.website-files.com/63edcc04ea8777a0bc4eed69/63f2e33385872ab1e69eae6d_Frame.webp" loading="lazy" width="182" alt="Icon" class="rotate-shape" />
        <img src="https://assets.website-files.com/63edcc04ea8777a0bc4eed69/63f2f987b68fbb46cfa84263_Vector.webp" loading="lazy" width="24.5" alt="Icon" class="rotate-shape top-right" />
        <img src="https://assets.website-files.com/63edcc04ea8777a0bc4eed69/63f2f9872d342cefb811ddb4_Vector-2.webp" loading="lazy" width="27.5" alt="Icon" class="rotate-shape bottom-center" />
        <img src="https://assets.website-files.com/63edcc04ea8777a0bc4eed69/63f2f987f9b3c88209398bc9_Vector-1.webp" loading="lazy" width="27.5" alt="Icon" class="rotate-shape top-left" />
    </section>
</main>